<!-- <div class="container">
    <div class="row">
        <div class="col-12" *ngIf="activeIndex == 0">
            <h2>Create New Class</h2>
        </div>
        <div class="col-12">
            <ng-container *ngIf="activeIndex == 0">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card pointer" (click)="eventType(true)">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 align-self-center d-flex d-inline-flex justify-content-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                            fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                                        </svg>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="card-title">One-on-One</h5>
                                        <p class="card-text">One Host With One invitee.</p>
                                        <p class="card-text text-black-50">Good For: Coffee Chats, 1:1 Interview, etc.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card pointer" (click)="eventType(false)">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 align-self-center d-flex d-inline-flex justify-content-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                            fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                                        </svg>
                                    </div>
                                    <div class="col-10">
                                        <h5 class="card-title">Group</h5>
                                        <p class="card-text">One Host With Group of invitees.</p>
                                        <p class="card-text text-black-50">Good For: Webinars, Online Classes, etc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="activeIndex == 1">
                <div class="row">
                    <div class="card shadow-sm" style="width: 30%;">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item my-3">
                                    <button class="btn mb-4" (click)="back()" *ngIf="authConfig.IsTeacher">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                                            <path
                                                d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z" />
                                            <path
                                                d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z" />
                                        </svg> <span class="ms-2 text-decoration-underline">Cancle</span>
                                    </button>
                                    <h2>Create New Class</h2>
                                </li>
                                <li class="list-group-item custom-li-height">                                    
                                    <div class="py-2">
                                        <label for="EventName" class="form-label">Event Name</label>
                                        
                                        <p-dropdown [options]="eventTitle" id="eventTitle" name="eventTitle"
                                            [showClear]="true" defaultLabel="Select Event" [placeholder]="'Select Event'" optionLabel="label" [(ngModel)]="selectedEvent"
                                            (onChange)="onEventChange($event.value)">
                                        </p-dropdown>
                                    </div>
                                    <div class="py-2">
                                        <label for="Subject" class="form-label">Subject</label>
                                        <input type="text" class="form-control" id="Subject" name="Subject" [(ngModel)]="selectedSubject" placeholder="Enter Subject" disabled>
                                    </div>
                                    <div class="py-2">
                                        <label for="Duration" class="form-label">Availability</label>
                                        <select class="form-select custom-select"
                                            (change)="generateTimeOptions(selectedEvent.AvailabilityId)"
                                            [(ngModel)]="selectedEvent.AvailabilityId">
                                            <option value="-1" disabled>Select Availability</option>
                                            <ng-container *ngFor="let dayGroup of groupedAvailabilities">
                                                <optgroup [label]="getDayLabel(dayGroup.key)">
                                                    <ng-container *ngFor="let availability of dayGroup.value">
                                                        <option [value]="availability.Id"
                                                            [disabled]="disabledTimeOptions.includes(timeOptions)">
                                                            {{ formatTimeTo12Hours(availability.OpenTimeHours,
                                                            availability.OpenTimeMinutes) }} -
                                                            {{ formatTimeTo12Hours(availability.CloseTimeHours,
                                                            availability.CloseTimeMinutes) }}
                                                        </option>
                                                    </ng-container>
                                                </optgroup>
                                            </ng-container>
                                        </select>
                                    </div>

                                    <div class="py-2" *ngIf="selectedEvent.AvailabilityId != '-1'">
                                        <label for="Duration" class="form-label">Start Time</label>
                                        <select class="form-select custom-select" (change)="startTimeCheck()"
                                            [(ngModel)]="selectedTime">
                                            <option value="-1" disabled>Select Start Time</option>
                                            <option *ngFor="let timeOption of timeOptions" [value]="timeOption"
                                                [disabled]="disabledTimeOptions.includes(timeOption)">
                                                {{ timeOption }}
                                                <span *ngIf="disabledTimeOptions.includes(timeOption)"> Booked</span>
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-10"
                                        *ngIf="selectedTime != '-1' && errorMessageForStartTime && errorMessageForStartTime != 'true'">
                                        <span class="text-danger">{{errorMessageForStartTime}}</span>
                                    </div>

                                    <div class="py-2" *ngIf="selectedEvent.AvailabilityId != '-1'">
                                        <label for="Duration" class="form-label">Duration</label>
                                        <select class="form-select custom-select" (change)="durationCheck()"
                                            [(ngModel)]="selectedEvent.Duration">
                                            <option value="-1" disabled>Select Duration</option>
                                            <option *ngFor="let duration of durations" [value]="duration">{{ duration }}
                                                Minuts</option>
                                        </select>
                                    </div>
                                    <div class="col-10"
                                        *ngIf="selectedEvent.Duration && errorMessageForDuration && errorMessageForDuration != 'true'">
                                        <span class="text-danger">{{errorMessageForDuration}}</span>
                                    </div>

                                    <div class="row py-2">
                                        <div class="col-1">
                                            <input type="checkbox" class="form-check-input" binary="true"
                                                [(ngModel)]="selectedEvent.IsOneTime">
                                        </div>
                                        <div class="col-11">
                                            If You Want To Repeat This Event On Weekly
                                        </div>
                                    </div>

                                </li>
                                <li class="list-group-item my-3">
                                    <div class="row d-flex justify-content-end">
                                        <button class="col-4 btn btn-light rounded-5" *ngIf="authConfig.IsTeacher"
                                            (click)="back()">Close</button>
                                        <button class="ms-3 col-4 btn btn-primary rounded-5" (click)="createEvent()"
                                            [disabled]="selectedEvent.Duration == -1 || selectedEvent.AvailabilityId == '-1' || errorMessageForDuration != 'true' || errorMessageForStartTime != 'true'">Create</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="width: 69%;">
                        <div class="d-flex justify-content-center align-items-center custom-li-height">
                            <div class="card shadow" style="width: 85%;">
                                <div class="card-header">
                                    <b>This is a Preview.</b> To Book an Event, share the link with your invitees
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <img [src]="userImgUrl ? userImgUrl : '../../../../../../assets/user-profile.png'"
                                            height="60" width="60" class="rounded-circle" />
                                    </h5>
                                    <p class="card-text">{{firstName}}</p>
                                    <p class="fs-1" *ngIf="selectedEvent.Name">{{selectedEvent.Name}}</p>
                                    <p class="fw-light" *ngIf="selectedEvent.Duration != -1">
                                        {{selectedEvent.Duration}} Minuts
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div> -->