<nav class="navbar position-sticky top-0 z-3 pt-2 pb-3 justify-content-between bg-white shadow px-0">
    <div class="position-absolute positioning" style="line-height: 1;">
        <button *ngIf="Sidebar" (click)="toggleSidebar()" class="btn btn-style text-white d-flex align-items-center"><span class="e-icons e-chevron-left-double" ></span></button>
        <button *ngIf="!Sidebar" (click)="toggleSidebar()" class="btn btn-style text-white d-flex align-items-center"><span class="e-icons e-chevron-right-double" ></span></button>
    </div>
    <span class="fw-bold fs-5 ps-4">Welcome Back, {{firstName}}</span>
    <div class="d-flex w-50 gap-4 align-items-center" *ngIf="isAdministrator">
        <div class="col-md-2">
            <span class="me-2 text-muted-dark fw-semibold">Switch Account</span>
        </div>
        <div class="col-md-3">
            <select  class="cursor-pointer border-dull-white h-100 form-select form-select-solid bg-white text-center" (change)="onselectRole($event)">
                <option class="py-1 cursor-pointer" [disabled]="role.value === '-1'" [selected]="role.value === '-1'"  *ngFor="let role of roles" [value]="role.value">{{ role.label }}</option>
            </select>  
        </div>
        <div class="col-md-5">
            <select *ngIf="isDropdownOpen" (change)="onselectedId($event)" class="cursor-pointer border-dull-white h-100 form-select form-select-solid bg-white text-center">
                <option class="py-1 cursor-pointer" [disabled]="user.value === '-1'" [selected]="user.value === '-1'" *ngFor="let user of userDropDownData" [value]="user.value">{{user.label }}</option>
            </select>
        </div>
    </div>
    <div class="flex align-items-center" *ngIf="viewingRoleAsAdmin">
        <button (click)="exitRoleView($event)" ejs-button >Switch back as administrator</button>
    </div>
    <div class="dropdown me-4 pe-3">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none" id="dropdownUser2"
            (click)="toggleDropdown($event)" aria-expanded="false">
            <img [src]="ImgUrl ? ImgUrl : '../../../../../../assets/user-profile.png'" height="50" width="50" class="rounded-3" />
        </a>
        <ul class="dropdown-menu text-small shadow dropdown-menu-left py-0" aria-labelledby="dropdownUser2"
            style="width: 300px;">
            <div (click)="handleDropDownClose($event)" class="row p-2 align-items-center gap-2 mt-2">
                <div class="col-3">
                    <li  class="dropdown-item">
                        <a href="javascript:void(0);" routerLink="/" class="text-center py-2">
                            <img [src]="ImgUrl ? ImgUrl : '../../../../../../assets/user-profile.png'" height="60"
                                width="60" class="rounded-circle" />
                        </a>
                    </li>
                </div>
                <div class="col-8">
                    <div class="fw-bolder fs-5">{{ firstName }}</div>
                    <div>{{ UserEmail }}</div>
                </div>
            </div>
            <li (click)="handleDropDownClose($event)"><a routerLink="/profile" class="cursor-pointer py-2 dropdown-item">Profile</a></li>
            <li>
                <hr class="dropdown-divider my-0">
            </li>
            <li><a (click)="handleDropDownClose($event)"  class="cursor-pointer dropdown-item pt-2 pb-3 rounded-bottom-2" (click)="logout($event)">Sign out</a>
            </li>
        </ul>
    </div>
</nav>