<div class="d-flex justify-content-center align-items-center h-100">
    <div class="login-container">
      <form #loginForm="ngForm">
        <img src="../../../assets/strapline/i-learn-logo-strapline-600.png" style="width: 100%;" />
  
        <div class="form-group mt-4">
          <label for="username">Username</label>
          <input type="text" id="username" [(ngModel)]="loginModel.Username" placeholder="Enter email or username"
            name="username" class="form-control" required />
        </div>
        <div class="form-group mt-2">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="loginModel.Password" placeholder="Enter password"
            name="password" class="form-control" required />
        </div>
        <!-- Submit button section -->
        <div class="form-group text-center mt-2">
          <div class="card flex justify-content-center">
            <button pButton type="button" class="p-button-default p-button-outlined" label="Login"
              [disabled]="!loginModel.Username || !loginModel.Password" (click)="login()"></button>
          </div>
        </div>
         <!-- Forgot Password button -->
         <div class="form-group text-center mt-2">
          <a href="javascript:void(0)" (click)="onForgotPasswordDialog()">Forgot Password</a>
        </div>
        <!-- Signup link section -->
        <div class="form-group text-center mt-2">
          <a [routerLink]="['/register/student']">Don't have an account? Sign up now!</a>
        </div>
      </form>
    </div>
  </div>