<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Connected Zoom Account</h2>
            <p class="text-black-50">Here is the list of connected zoom accounts</p>
        </div>
        <div class="col-12">
            <p-table
                    #dt1
                    dataKey="id"
                    [rows]="15"
                    [rowsPerPageOptions]="[15, 30, 60]"
                    [paginator]="zoomUserObject && zoomUserObject.length > 15"
                    [value]="zoomUserObject"
                    [globalFilterFields]="['Name','Source', 'CreatedAt']"
                    >
                    <ng-template pTemplate="caption">
                        <div class="row justify-content-between">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="pi pi-search"></i>
                                    </span>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="onInput($event)"
                                        placeholder="Search keyword"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="col-md-auto" *ngIf="authConfig.IsTeacher">
                                <button type="button" pButton icon="fa fa-user" (click)="connectWithZoom()" label="Connect With Zoom" class="p-button-sm p-button-outlined me-2"></button>
                            </div>
                        </div>                        
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th width="45%" pSortableColumn="Name">Account <p-sortIcon field="Name"/></th>
                            <th width="15%" pSortableColumn="Source">Source <p-sortIcon field="Source"/></th>
                            <th width="20%" pSortableColumn="CreatedAt">Connected At <p-sortIcon field="CreatedAt"/></th>
                            <th width="20%">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-zoomUser let-i="rowIndex">
                        <tr>
                            <td height="70px">
                                <div class="row">
                                    <div class="col-2">
                                        <img class="w-75 rounded-5" src="{{zoomUser.ImgUrl ? zoomUser.ImgUrl : '../../../../../../../assets/user-profile.png'}}" alt="">
                                    </div>
                                    <div class="col-10">
                                        <div class="fw-bold fs-5">
                                            {{zoomUser.Name}}
                                        </div>
                                        <div class="text-black-50 fs-6">
                                            {{zoomUser.Email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row d-flex align-items-center">
                                    <img class="w-25" src="https://seeklogo.com/images/Z/zoom-icon-logo-C552F99BAC-seeklogo.com.png" alt="">
                                    Zoom
                                </div>
                            </td>
                            <td>
                                <span class="ml-1 vertical-align-middle">{{ zoomUser.CreatedAt | date: 'yyyy/MM/dd hh:mm a' }}</span>
                            </td>
                            <td>
                                <div class="row">
                                    <p-button icon="pi pi-times" label="Disconnect Zoom" severity="danger" (onClick)="disconnectZoomAccount()" />
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5">No account found.</td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>
    </div>
</div>