<div class="row g-5 mx-3 my-4 my-2 bg-white rounded-3 ">
    <h4 class="text-dark fw-bold mb-0">View Subjects
        <span *ngIf="Subjects.length > 0"
            class="fs-6 text-muted badge rounded-pill bg-secondary">{{Subjects.length}}</span>
        <div class="text-muted me-5 mt-2">
            You can configure the subjects under the core study area, set which subjects are taught to which grades and categorize the primary and secondary school subjects
        </div>
    </h4>
    <div class="d-flex border-bottom border-1 border-dull-white align-items-center justify-content-between pb-3 mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="d-flex align-items-center px-4 bg-search-logo rounded-start-3">
                    <span class="e-btn-icon e-icons e-search text-muted"></span>
                </span>
                <input (input)="filterSearch($event)" placeholder="Search..."
                    class="form-control form-control-lg py-2" />
            </div>
        </div>
        <div class="col-md-6 d-flex gap-4 justify-content-end">
            <button ejs-button cssClass="e-info py-2 rounded-3" iconCss="fa fa-plus" (click)="addNewSubject()"> Add
                Subject </button>
        </div>
    </div>
    <div class="col-md-12 mt-2 p-0">
        <ejs-grid id="Grid" cssClass="border-dull-white border-0" [dataSource]='filterSubjects' [allowPaging]="true"
            [pageSettings]="{ pageSettings }" [allowSorting]="true">
            <e-columns>
                <e-column field='CoreSubjectName' headerText='Core Area' width='300' textAlign='left'
                    [headerTemplate]='headerTemplate' [template]="cellTemplate">
                    <ng-template #cellTemplate let-data let-column>
                        <span class="fw-semibold text-muted-dark py-3">{{ data.CoreSubjectName }}</span>
                    </ng-template>
                </e-column>
                <e-column field='Name' headerText='Subject' textAlign='left' [headerTemplate]='headerTemplate'
                    [template]="cellTemplate1">
                    <ng-template #cellTemplate1 let-data let-column>
                        <span class="fw-semibold text-muted-dark py-3">{{ data.Name }}</span>
                    </ng-template>
                </e-column>
                <e-column field='Description' headerText='Description' width='250' textAlign='left'
                    [headerTemplate]='headerTemplate' [template]="cellTemplate2">
                    <ng-template #cellTemplate2 let-data let-column>
                        <span class="fw-semibold text-muted py-3">{{ data.Description }}</span>
                    </ng-template>
                </e-column>
                <e-column field='IsPrimarySchool' headerText='Type' width='150' textAlign='left'
                    [headerTemplate]='headerTemplate' [template]="cellTemplate3">
                    <ng-template #cellTemplate3 let-data let-column>
                        <span class="fw-semibold text-muted py-3">{{ data.IsPrimarySchool ? 'Primary' : 'Secondary'
                            }}</span>
                    </ng-template>
                </e-column>
                <e-column headerText='Action' width='220' textAlign='center' [headerTemplate]="headerTemplate"
                    [template]="cellTemplate" [template]='actionTemplate'></e-column>
            </e-columns>
        </ejs-grid>
        <ng-template #headerTemplate let-column>
            <span class="text-muted-dark fw-bolder fs-6">{{column.headerText}}</span>
        </ng-template>
    </div>
</div>

<ng-template #actionTemplate let-data>
    <button ejs-button cssClass='e-info e-icon-btn' class="me-2" (click)="addSubjectGrade(data)">
        <span class="e-btn-icon e-icons e-add me-1"></span>Add Grade
    </button>
    <button ejs-button cssClass='e-info e-icon-btn ml-2' class="me-2" (click)="editSubject(data)">
        <span class="e-btn-icon e-icons e-edit"></span>
    </button>    
    <button ejs-button cssClass='e-danger e-icon-btn ml-2'>
        <span class="e-btn-icon e-icons e-delete"></span>
    </button>
</ng-template>

<ejs-dialog header="Add Subject" [visible]="addSubjectDialogueBox" [width]="430" [showCloseIcon]="true" [isModal]="true"
    (close)="onDialogClose()">
    <div class="form-horizontal mt-2 px-3">
        <div class="d-flex justify-content-between">
            <!-- <button ejs-button cssClass="e-info py-2 rounded-3" (click)="onPrimayChange()">  Primary </button>
            <button ejs-button cssClass="e-info py-2 rounded-3" (click)="onHighChange()">  High </button> -->
            <div class="row">
                <div class="col-12">
                    <div class="toggle-container">
                        <button class="toggle-btn" [ngClass]="{'active': !showSubjects}" (click)="switchToPrimary()">
                            Primary
                        </button>
                        <button class="toggle-btn" [ngClass]="{'active': showSubjects}" (click)="switchToHigh()">
                            High
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-2" *ngIf="isCoreSubjectVisible">
            <label for="CoreSubject" class="form-label">Core Subject <span class="text-danger">*</span></label>
            <!-- <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="insertSubjectData.Name" placeholder="Enter Subject Name"/> -->
            <ejs-dropdownlist id="CoreSubject" [(ngModel)]="insertSubjectData.CoreSubjectId" [allowObjectBinding]="true"
                [dataSource]="coreSubjects" [fields]="{ text: 'Name', value: 'Id' }" placeholder="Select a Subject"
                (change)="onCoreSubject($event)"></ejs-dropdownlist>
        </div>
        <!-- <div class="form-group mt-2">
            <label for="CourseSubject" class="form-label">Course Subject <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="insertSubjectData.Name" placeholder="Enter Subject Name"/>
            <ejs-dropdownlist
            id="CourseSubject"
            [(ngModel)]="courseSubjects"
            [allowObjectBinding]="true"
            [dataSource]="courseSubjects"
            [fields]="{ text: 'Name', value: 'Id' }"
            placeholder="Select a Subject"
          ></ejs-dropdownlist>
        </div> -->
        <div class="form-group mt-2">
            <label for="Name" class="form-label">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="insertSubjectData.Name"
                placeholder="Enter Subject Name" />
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="5"
                [(ngModel)]="insertSubjectData.Description" placeholder="Enter Course Description"></textarea>
        </div>
        <div class="text-center mt-4">
            <button ejs-button cssClass="e-info w-100" (click)="saveSubject()">
                Submit
            </button>
        </div>
    </div>
</ejs-dialog>

<ejs-dialog header="Add Subject Grade" [visible]="addSubjectGradeDialogueBox" [width]="430" [showCloseIcon]="true" [isModal]="true"
    [isModal]="true" (close)="onGradeDialogClose()">
    <div class="form-horizontal mt-2 px-3">
        <div class="form-group mt-2">
            <label for="Name" class="form-label">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="insertSubjectData.Name"
                placeholder="Enter Subject Name" disabled="true" />
        </div>
        <div class="form-group mt-2">
            <label class="form-label">Grades</label>
            <ejs-multiselect
                (change)="onGradeChange($event)" [dataSource]="filterGrades"
                [fields]="{text:'label', value:'value'}" [mode]="mode"
                [placeholder]="'Select Grade(s)'"></ejs-multiselect>
        </div>

        <div class="text-center mt-4">
            <button ejs-button cssClass="e-info w-100" (click)="saveSubjectGrade()">
                Submit
            </button>
        </div>
    </div>
</ejs-dialog>