<div class="row g-5 mx-3 my-4 my-2 bg-white rounded-3 ">
    <h4 class="text-dark fw-bold mb-0">Class
        <span *ngIf="classMetaData.length > 0" class="fs-6 text-muted badge rounded-pill bg-secondary">{{filterClasses.length}}</span>
        <div class="text-muted me-5 mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, fugit nobis. Consectetur, placeat omnis! Doloribus voluptatibus, repellendus et repudiandae cumque, possimus perferendis excepturi reiciendis praesentium corporis est quod quam sit!
        </div>
    </h4>
    <div class="d-flex border-bottom border-1 border-dull-white align-items-center justify-content-between pb-3 mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="d-flex align-items-center px-4 bg-search-logo rounded-start-3">
                    <span class="e-btn-icon e-icons e-search text-muted"></span>
                </span>
                <input (input)="filterSearch($event)" placeholder="Search..." class="form-control form-control-lg py-2"/>
            </div>
        </div>
        <div class="col-md-6 d-flex gap-4 justify-content-end">
            <button ejs-button cssClass="e-info py-2 rounded-3" iconCss="fa fa-plus" (click)="addNewClass()">  Add New </button>
        </div>
    </div>
    <div *ngIf="classMetaData.length > 0" class="col-md-12 mt-2 p-0">
        <ejs-grid id="Grid" cssClass="border-dull-white border-0" [dataSource]='filterClasses' [allowPaging]="filterClasses.length > 10" [pageSettings]="{ pageSize: 10 }" [allowSorting]="true">
            <e-columns >
                <e-column field='title' headerText='Title' width='150' textAlign='left' [headerTemplate]='headerTemplate' [template]="cellTemplate">
                    <ng-template #cellTemplate let-data let-column>
                        <span class="fw-bold text-muted-dark py-3">{{ data.Title }}</span>
                    </ng-template>
                </e-column>
                <e-column field='description' headerText='Description' width='250' textAlign='left' [headerTemplate]='headerTemplate' [template]="cellTemplate2">
                    <ng-template #cellTemplate2 let-data let-column>
                        <span class="fw-bold text-muted py-3">{{ data.Description }}</span>
                    </ng-template>
                </e-column>
                <e-column field='gradeLevel' headerText='Grade Level' width='120' textAlign='left' [headerTemplate]='headerTemplate' [template]="cellTemplate3">
                    <ng-template #cellTemplate3 let-data let-column>
                        <span class="fw-bold text-muted py-3">{{ data.GradeLevel }}</span>
                    </ng-template>
                </e-column>
                <e-column field='subjectName' headerText='Subject Name' width='150' textAlign='left' [headerTemplate]='headerTemplate' [template]="cellTemplate4">
                    <ng-template #cellTemplate4 let-data let-column>
                        <span class="fw-bold text-muted py-3">{{ data.SubjectName }}</span>
                    </ng-template>
                </e-column>
                <e-column headerText='Action' width='120' textAlign='center' [headerTemplate]="headerTemplate" [template]="cellTemplate" [template]='actionTemplate'></e-column>
            </e-columns>
        </ejs-grid>
        <ng-template #headerTemplate let-column>
            <span class="text-muted-dark fw-bolder fs-6">{{column.headerText}}</span>
        </ng-template>
    </div>
</div>

  <ng-template #actionTemplate let-data>
    <button ejs-button cssClass='e-info e-icon-btn' (click)="editMetaData(data)">
      <span class="e-btn-icon e-icons e-edit"></span>
    </button>
    <button ejs-button cssClass='e-danger e-icon-btn ml-2' (click)="deleteClassMetaData(data)">
      <span class="e-btn-icon e-icons e-delete"></span>
    </button>
  </ng-template>

  <ejs-dialog header="Add Class Data" [visible]="addClassDialogueBox" [width]="430" [showCloseIcon]="true" [isModal]="true" (close)="onDialogClose()">
    <div class="form-horizontal mt-2 px-3">
        <!-- <div class="form-group mt-2">
            <label for="subject" class="form-label">Select Subject <span class="text-danger">*</span></label>
            <ejs-dropdownlist [dataSource]="Subjects" id="subject" name="tutorSubjects" [fields]="dropdownFields" [(ngModel)]="insertClassData.SubjectId" [placeholder]="'Select Subject'"
                              (change)="onSubjectChange($event.value)">
            </ejs-dropdownlist>
        </div> -->

        <div class="d-flex col-md-12 mb-2">
            <button ejs-button (click)="filterSubjects('Primary')" [ngClass]=" activeType === 'Primary' ? 'e-danger' : ''" class="w-100">Primary</button>
            <button ejs-button (click)="filterSubjects('Secondary')" [ngClass]="activeType === 'Secondary' ? 'e-danger' : ''" class="w-100">Secondary</button>
        </div>
        <div class="form-group">
            <label class="form-label">Core Subject</label>
            <ejs-dropdownlist (change)="getSubSubjects($event)" [fields]="{text:'label', value:'value'}" [dataSource]="subjectTypeSelection" [placeholder]="'Select Core Subject'" ></ejs-dropdownlist>
        </div>
        <div class="form-group">
            <label class="form-label">Subject</label>
            <ejs-dropdownlist (change)="selectSubSubject($event)" [enabled]="subSubjects.length > 0" [dataSource]="subSubjects" [fields]="{text:'label', value:'value'}" [placeholder]="'Select Subject'" ></ejs-dropdownlist>
        </div>
        <div class="form-group mt-2">
            <label for="gradeLevel" class="form-label">Grade Level <span class="text-danger">*</span></label>
            <ejs-dropdownlist [dataSource]="TutorGrades" id="gradeLevel" name="gradeLevel" [fields]="dropdownFields" [(ngModel)]="insertClassData.GradeId" [placeholder]="'Select Grade'"
                              [enabled]="insertClassData.SubjectId !== null && insertClassData.SubjectId !== ''" (change)="onGradeChange($event.value)">
            </ejs-dropdownlist>
        </div>
        <div class="form-group mt-2">
            <label for="title" class="form-label">Course Title <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="insertClassData.Title" placeholder="Enter Title of Course"/>
        </div>
        <div class="form-group mt-2">
            <label for="description" class="form-label">Course Description</label>
            <textarea class="form-control" id="description" name="description" rows="5" [(ngModel)]="insertClassData.Description" placeholder="Enter Course Description"></textarea>
        </div>


        <div class="text-center mt-4">
            <button ejs-button cssClass="e-info w-100" (click)="saveClassMetaData()" [disabled]="!insertClassData.SubjectId || !insertClassData.Title || !insertClassData.GradeId">
                Submit
            </button>
        </div>
    </div>
</ejs-dialog>
