<ejs-dialog [footerTemplate]="footerReview" [visible]="OpenReviewModal" [isModal]="true" [width]="500" [showCloseIcon]="true" (close)="OpenReviewModal = false">
    <ng-template #header>
        <div class="header">
            <div class="user-info">
                <div *ngIf="user">
                    <img *ngIf="user.ImgUrl" class="profile-pic" src="{{user.ImgUrl}}" alt="{{user.Name}}">
                </div>
                <div *ngIf="user">
                    <div class="username">{{user.Name}}</div>
                    <div class="rating-container" *ngIf="user.PreviousRatingAvrage">
                        <input class="small-rating" ejs-rating precision="Half" id="user-rating" [(ngModel)]="user.PreviousRatingAvrage" [disabled]="true" />
                        <p class="user-rating-count" *ngIf="user.PreviousRatingCount">{{user.PreviousRatingCount}} Reviews</p>
                    </div>
                    <p class="user-detail" *ngIf="user.PreviousRatingAvrage">This User Get {{user.PreviousRatingAvrage}}/5 Rating.</p>
                </div>
            </div>
            <div class="rating">

            </div>
        </div>
    </ng-template>
    <div class="comment-section">
        <h2 class="heading">Review:</h2>
        <div class="mb-2 w-100">
            <label class="form-label">Give rating About Class</label>
            <input ejs-rating precision="Half" id="rating" />
        </div>
        <textarea [(ngModel)]="review.Comment" class="form-control form-control-sm" placeholder="Write Comment About Class..." style="height: 100px; resize: none;"></textarea>
    </div>
    <ng-template #footerReview>
        <button (click)="setReviewData()" ejs-button style="width:30%; font-size:12px !important;" class="mt-2 mb-1 mx-auto e-danger rounded-3">Submit Reviews</button>
    </ng-template>
</ejs-dialog>
