*{
    font-size: 10px !important;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.username {
    padding: 0;
    margin-left: 10px;
    font-size: 18px !important;
}

.profile-pic {
    width: 50px;
    height: 60px;
    border-radius: 50%;
}

.rating {
    display: flex;
}

.user-info div:last-child {
    flex-direction: row;
}

.user-detail{
    margin-top:-15px;
    margin-left: 10px;
}

.rating-container {
    margin-top:-15px;
    display: flex;
    align-items: center;
}

.user-rating-count {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 12px !important;
}

.heading{
    font-size: 16px !important;
}

