<ejs-dialog *ngIf="user" [footerTemplate]="footerReview" [visible]="OpenReviewModal" [isModal]="true" [width]="400" [showCloseIcon]="true" (close)="OpenReviewModal = false">
    <ng-template #header>
        <div class="d-flex align-items-center justify-content-center flex-row">
            <div class="col-md-3 d-flex justify-content-center">
                <div
                    class="rounded-circle"
                    *ngIf="user.ImgUrl"
                    [ngStyle]="{'width':'75px', 'height':'75px', 'background':getImage(user.ImgUrl)}"
                ></div>
                <div
                    class="rounded-circle"
                    *ngIf="!user.ImgUrl"
                    style="width: 60px; height: 60px; background: #f1f1f1 url(../../../../assets/user-profile.png) no-repeat center/cover;"
                ></div>
            </div>
            <div style="margin-bottom: -5px;" *ngIf="user" class="col-md-9 py-2 d-flex align-items-start flex-column">
                <h5 class="m-0 ms-2 text-muted-dark fw-bold fs-6"> {{user.Name}}</h5>
                <input ejs-rating precision="half" [(ngModel)]="user.PreviousRatingAvrage" [disabled]="true" />
                <span style="font-size: 12px; margin-top: -8px;" class="mb-0 ms-2 text-muted" *ngIf="user.PreviousRatingCount"> This user got {{user.PreviousRatingAvrage}}/5 Rating</span>
            </div>
        </div>
    </ng-template>
    <div class="comment-section">
        <div class="mb-2 w-100">
            <label class="form-label">Give rating About Class</label>
            <input ejs-rating precision="Half" id="rating" />
        </div>
        <textarea [(ngModel)]="review.Comment" class="form-control form-control-sm" placeholder="Write Comment About Class..." style="height: 100px; resize: none;"></textarea>
    </div>
    <ng-template #footerReview>
        <button (click)="setReviewData()" ejs-button style="width:30%; font-size:12px !important;" class="mt-2 mb-1 pe-2 mx-auto e-danger rounded-3">Submit Reviews</button>
    </ng-template>
</ejs-dialog>
