<div class="row g-5 mx-1 my-2 bg-white rounded-2">
    <div class="m-0 d-flex justify-content-between py-2 align-items-center">
        <h2 class="col-md-3 d-inline-flex align-items-center gap-3 my-3 fw-bold text-dark d-block fs-4 ">Available Tutors <span *ngIf="availableTutor.length > 0" class="fs-6 text-muted badge rounded-pill bg-secondary">{{availableTutor.length}}</span></h2>
        <div class="col-md-6"> 
            <div>
                <div class="input-group">
                    <span class="d-flex align-items-center px-4 bg-search-logo rounded-start-3">
                        <span class="e-btn-icon e-icons e-search text-muted"></span>
                    </span>
                    <input [(ngModel)]="filters.Query" (input)="onGlobalFilterTutor($event)" placeholder="Search for Tutor" class="form-control form-control-lg py-2"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-5 mx-1 my-2 bg-white rounded-2">
    <div class="d-flex justify-content-around mt-0 py-4">
        <div class="filter-col filter-shadows rounded-4">        
            <select
                (change)="schoolType($event)"
                class="cursor-pointer border-dull-white h-100 form-select form-select-solid hover-shadows bg-white text-center">            
                <option class="py-1 cursor-pointer" *ngFor="let type of SchoolTypes" [value]="type.value" [disabled]="type.value === null" [selected]="type.value === null">{{ type.label }}</option>
            </select>
        </div>
        <div class="filter-col filter-shadows rounded-4">        
            <select
                [disabled]="disableCoreSubject"
                (change)="onCoreChange($event)"
                [ngClass]="{ 'opacity-50': disableCoreSubject, 'opacity-100 cursor-pointer hover-shadows': !disableCoreSubject}"
                class="cursor-pointer border-dull-white h-100 form-select bg-white text-center">
                <option class="py-1 cursor-pointer" *ngFor="let subject of CoreSubjects" [value]="subject.Id" [selected]="subject.Id === null" [disabled]="subject.Id === null" >{{ subject.Name }}</option>
            </select>  
        </div>
        <div class="filter-col filter-shadows rounded-4">               
            <select
                [disabled]="disableSubject"
                (change)="onSubjectChange($event)"
                [ngClass]="{ 'opacity-50': disableSubject, 'opacity-100 cursor-pointer hover-shadows': !disableSubject }"
                class="border-dull-white h-100 form-select form-select-solid py-3 bg-white text-center">
                <option class="py-1 cursor-pointer" *ngFor="let subject of SubSubjects" [value]="subject.value" [selected]="subject.value === null" [disabled]="subject.value === null" >{{ subject.label }}</option>
            </select>  
        </div>
        <div class="filter-col filter-shadows rounded-4">               
            <select
                [disabled]="disableGrades"
                (change)="onGradeChange($event)"
                [ngClass]="{ 'opacity-50': disableGrades, 'opacity-100 cursor-pointer hover-shadows': !disableGrades }"
                class="border-dull-white h-100 form-select form-select-solid hover-shadows bg-white text-center">
                <option *ngFor="let grade of Grades" [value]="grade.value" [selected]="grade.value === null" [disabled]="grade.value === null" > {{grade.label}}</option>
            </select>  
        </div>
        <div class="col-md-1 filter-shadows rounded-5" style="border-radius: 8px;">
            <button (click)="clearAllFilters($event)" class="h-100 w-100 hover-shadows text-center btn btn-close-white border border-dull-white">
                <i class="fa fa-filter"></i>
                 Clear All</button>
        </div>
    </div>
</div>
<!-- <div class="row g-5 g-xl-10 my-2 mb-xl-10 bg-white rounded-2">
    <div class="grid-box col-md-11 mb-10 mx-auto" >
        <ng-container *ngFor="let tutor of availableTutor">
            <div class="card" [routerLink]="['/student/tutor-detail', tutor.Id]">
                <div class="profile">
                    <img (click)="navigateTutorDetailPage(tutor)"
                        [src]="tutor.ImgUrl ? tutor.ImgUrl : './assets/Ilearn-assets/user-profile.png'"
                        [alt]="tutor.FullName">
                    <div class="name">{{tutor.Hon}} {{tutor.FullName}}</div>
                </div>
                <img class="background-image"
                    [src]="tutor.ImgUrl ? tutor.ImgUrl : '/assets/Ilearn-assets/user-profile.png'"
                    [alt]="tutor.FullName">

                <div class="info px-4">
                    <h1 class="text-white">About</h1>
                    <p>A highly knowledgeable educator with a Master of Science degree, specializing in
                        providing advanced scientific and mathematical instruction.</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>  -->
<div class="row g-5 mx-1 my-2 bg-white rounded-2">
    <ng-container *ngFor="let tutor of availableTutor; let i = index">
        <div class="col-md-8 mb-2 px-3" #tutorCard>
            <div class=" border border-2 border-dull-white rounded-3 shadows py-3 px-4" (mouseenter)="getTutorEvents(tutor.Id, i)">
                <div class="d-flex gap-3">
                    <div class="col-md-2 text-center neg-margin mt-0">
                        <img class="" style="object-fit:cover; width: 120px; height: 120px; background-color: #f2f2f2; border-radius: 50%;" [src]="tutor.ImgUrl ? tutor.ImgUrl : '../../../../assets/user-profile.png'" />
                        <div class="d-flex flex-column align-items-center justify-content-center w-100 mt-2">
                            <button ejs-button class="e-danger rounded-3 btn-sm" (click)="navigateTutorDetailPage(tutor)">View Profile</button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="d-flex flex-column gap-1 mt-2">
                            <div class="mb-0 d-flex justify-content-between me-3">
                                <h5 class="mb-0 fw-bold text-muted-dark fs-4 w-50 d-flex gap-2 align-items-center cursor-pointer" (click)="navigateTutorDetailPage(tutor)">{{tutor.Hon}} {{tutor.FullName}}.  
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                    </svg>
                                </h5>
                                <div (click)="showReviews(tutor.Id)" class="cursor-pointer col-2 d-flex flex-column justify-content-center align-items-start ">
                                    <div class="d-flex gap-1 justify-content-start align-items-center flex-row">
                                        <i class="fa fa-solid fa-star fs-4"></i>
                                        <p class="mb-0 fs-5 text-black fw-bolder"> {{tutor.AverageRating.toFixed(1)}} </p>
                                    </div>
                                    <p class="mb-0 fw-light">{{tutor.Reviews}} reviews</p>
                                </div>
                            </div>
                            <p class="text-muted mb-0 fw-semibold">{{tutor.Title}}</p>
                            <p class="text-muted mb-0 fw-semibold">Qualified in : {{tutor.Degree}}</p>
                            <p class="bg-secondary mb-0 text-muted rounded-2 fw-semibold ST-width mt-1 py-1 px-4" *ngIf="tutor.TotalMeetings >= 5">Super Tutor</p>
                            <p class="text-muted mb-0 fw-semibold">{{tutor.TotalStudents}} active students</p>
                            <span class="text-muted fw-semibold">{{tutor.TotalMeetings}} lectures</span>
                            <div class="d-flex flex-wrap gap-2 mb-1">
                                <span class="py-1 px-2 bg-secondary rounded-2 text-muted fw-semibold" *ngFor="let subject of tutor.TutorSubjects">{{subject.SubjectName}}</span>
                            </div>
                            <p class="text-muted mb-1 description-style fw-semibold">
                                {{ tutor.isExpanded ? tutor.AboutMe : (tutor.AboutMe | slice:0:150) + '...' }}
                            </p>
                            <p class="text-danger cursor-pointer fw-semibold" (click)="toggleReadMore(i)" *ngIf="tutor.AboutMe">
                                {{ tutor.isExpanded ? 'Read Less' : 'Read More' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tutor.Id === availabilityCont" #availabilityContainer class=" availability-cont-height px-0 shadows rounded-3 border border-2 border-dull-white mb-2 mx-3">
            <div *ngIf="tutor" class="col-md-12">
                <div class="border-bottom px-3 py-3">
                  <h3 class="mb-0 card-title fw-bolder text-dark">{{tutor.FullName}} Classes</h3>
                </div>
                <div class="card-body pt-2 overflow-y-scroll max-height-scroll">
                  <div class="d-flex align-items-center pt-2 mb-3" *ngFor="let event of tutorEvents">
                    <span class="bullet bullet-vertical h-40px bg-primary"></span>
                    <div class="flex-grow-1 ms-3">
                        <div class="d-flex">
                            <span class="w-25 text-muted-dark fw-bold">Title</span>
                            <p class="mb-0 text-muted fw-semibold"> : {{event.Name}}</p>
                        </div>
                        <div class="d-flex">
                            <span class="w-25 text-muted-dark fw-bold">Start Time</span>
                            <p class="mb-0 text-muted fw-semibold"> : {{event.EventStartTime | date: 'hh:mm a'}}</p>
                        </div>
                        <div class="d-flex">
                            <span class="w-25 text-muted-dark fw-bold">Duration</span>
                            <p class="mb-0 text-muted fw-semibold"> : {{event.Duration}} minutes</p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<app-show-reviews [ShowReviews]="toggleDialogBox" (ResetReviewBox)="closeReviewDialog($event)" [Reviews]="reviews" ></app-show-reviews>