<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="fw-normal">Students Data</h3>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="card">
                <p-table
                    #dt1
                    dataKey="id"
                    [rows]="15"
                    [rowsPerPageOptions]="[15, 30, 60]"
                    [paginator]="students && students.length > 15"
                    [value]="students" 
                    [(selection)]="students"
                    selectionMode="single"
                    [globalFilterFields]="['FullName', 'Email', 'Parent.FullName', 'Parent.PhoneNumber']"
                    styleClass="p-datatable-striped"
                    >
                    <ng-template pTemplate="caption">
                        <div class="row justify-content-between">
                            <div class="col-md-6 my-1 d-flex">
                                <div class="input-group justify-content-end">
                                    <span class="input-group-text">
                                        <i class="pi pi-search"></i>
                                    </span>
                                    <input
                                    pInputText
                                    type="text"
                                    (input)="onInput($event)"
                                    placeholder="Search keyword"
                                    class="form-control"
                                    />
                                </div>
                            </div>
                            <!--  -->

                            <!-- <div class="col-md-auto">
                                <button type="button" pButton icon="fa fa-save" label="Add New" class="p-button-sm p-button-outlined"></button>
                            </div> -->
                        </div>                        
                    </ng-template>
                    <ng-template  pTemplate="header">
                        <tr class="text-center">
                            <th pSortableColumn="StudentFullName">Student<p-sortIcon field="StudentFullName"/></th>
                            <th pSortableColumn="StudentSchoolGrade">School Grade <p-sortIcon field="StudentSchoolGrade" /></th>
                            <th pSortableColumn="ParentFullName">Parent <p-sortIcon field="ParentFullName" /></th>
                            <th pSortableColumn="ParentPhoneNumber">Parent Contact Number <p-sortIcon field="ParentPhoneNumber" /></th>
                            <th pSortableColumn="ParentEmail">Parent Email <p-sortIcon field="ParentEmail" /></th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-student let-index="rowIndex" let-last="last" >
                        <tr class="">
                            <td class="text-center"  width="25%" height="50px">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img 
                                        [alt]="student.FullName"
                                        src="{{student.ImgUrl != null ? student.ImgUrl : '../../../../../../assets/user-profile.png' }}"
                                        style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; "  
                                        class="mx-auto"
                                    />
                                    <div class="col-md-9 text-start">
                                        <span class="fw-bold">{{student.Hon }} {{ student.FullName }}</span><br/>
                                        <span class="text-muted">{{ student.Email }}</span><br/>
                                        <span class="text-left text-muted">{{ student.PhoneNumber }}</span>
                                    </div>
                                </div>
                            </td>                            
                            <td class="text-center" >
                                <span class="fs-7 ml-1 vertical-align-middle">{{ student.SchoolGrade }} </span>
                            </td>
                            <td class="text-center" >
                                <span class="fs-7 ml-1 vertical-align-middle">{{ student.Parent?.FullName }}</span>
                            </td>
                            <td class="text-center" >
                                <span class="fs-7 ml-1 vertical-align-middle">{{ student.Parent?.PhoneNumber }}</span>
                            </td>
                            <td class="text-center" >
                                <span class="fs-7 ml-1 vertical-align-middle">{{ student.Parent?.Email }}</span>
                            </td>
                            <td class="text-center">
                                <span class="ml-1 vertical-align-middle">
                                    <p-button icon="pi pi-ban" [outlined]="true" severity="danger" styleClass="rounded-circle" (click)="blockStudent(student)" />
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td class="text-center" colspan="7">No customers found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
