<ng-container *ngIf="isAuthenticated">
    <div class="d-flex">
        <div class="px-0 content-width-transition" [ngClass]="{'col-md-2':Sidebar, 'sidebar-closed':!Sidebar  }">
            <div #sidebar style="height: 100vh" class="position-sticky top-0 bg-black">
                <div class="d-flex flex-column flex-shrink-0 ">
                    <app-aside-bar [isSideBar]="Sidebar" ></app-aside-bar>
                </div>
            </div>
        </div>
        <div class="px-0" [ngClass]="{'col-md-10': Sidebar, 'main-content-sidebar-closed': !Sidebar}">
            <app-top-bar (SidebarToggle)="SideBarToggles($event)"></app-top-bar>
            <div class="my-2">
                <router-outlet />
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!isAuthenticated">
    <router-outlet />
</ng-container>