
<!--PRIMENG GROWL NOTIFICATIONS GLOBAL-->
<app-notifications></app-notifications>
<ng-container *ngIf="isAuthenticated">
    <div class="row">
        <div class="col-md-2">
            <div style="height: 100vh" class="position-sticky top-0 bg-black">
                <div class="d-flex flex-column flex-shrink-0 ">
                    <app-aside-bar></app-aside-bar>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <app-top-bar></app-top-bar>
            <div class="my-2">
                <router-outlet />
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!isAuthenticated">
    <router-outlet />
</ng-container>