<div class="py-4 text-center">
  <a href="/" class="link-hover rounded-2 py-2 px-3">
    <img src="../../../../assets/strapline/i-learn-logo-strapline-1000.png" width="70%" />  
  </a>
</div>
<div class="d-flex flex-column py-4">
  <div class="px-3 justify-content-around align-items-center d-flex">
    <hr class="w-25 text-light">
    <h2 class="mb-0 text-center fs-6 w-50 text-light"> Components </h2>
    <hr class="w-25 text-light">
  </div>
  <div class="d-flex gap-2 flex-column my-3 text-start mx-3 text-light">
    <div [routerLink]="['/dashboard']" class=" cursor-pointer py-3 px-4 link-hover" [ngClass]="{'active-link': isActive('/dashboard'), 'bg-black': !isActive('/dashboard')}">
      <a  class="letter-spacing fs-4 text-white" aria-current="page">
        <i class="pi pi-th-large fs-4" ></i> Dashboard
      </a>
    </div>
    <div class="py-2">
      <div class="mb-3" *ngIf="authConfig.IsStudent">
        <span class="ms-4 fs-5 letter-spacing"> Students </span>
        <div class="mt-2 ms-3 d-flex flex-column gap-1">
          <div [routerLink]="['/student/tutor-selection']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link': isActive('/student/tutor-selection'), 'bg-black': !isActive('/student/tutor-selection')}">
            <a  class="letter-spacing fs-6 text-white">
              <i class="pi pi-users"></i> Tutor-Selection
            </a>
          </div>
          <div [routerLink]="['/classes']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/classes'), 'bg-black': !isActive('/classes') }">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-calendar"></i> Class
            </a>
          </div>
          <div [routerLink]="['/meeting']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/meeting'), 'bg-black': !isActive('/meeting')}">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-headphones"></i> Meeting
            </a>
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="authConfig.IsTeacher">
        <span class="ms-4 mb-3 fs-5 letter-spacing"> Tutors </span>
        <div class="mt-2 ms-3 d-flex flex-column gap-1">
          <div [routerLink]="['/tutor/availabilaity']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/tutor/availabilaity'), 'bg-black':!isActive('/tutor/availabilaity') }">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-clock"></i> Availabilaity
            </a>
          </div>
          <div [routerLink]="['/tutor/requests']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/tutor/requests'), 'bg-black': !isActive('/tutor/requests')}">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-file-import"></i> Requests
            </a>
          </div>
          <div [routerLink]="['/tutor/class-metadata']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/tutor/class-metadata'), 'bg-black': !isActive('/tutor/class-metadata')}">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-th-large"></i> Class Metadata
            </a>
          </div>
          <div [routerLink]="['/meeting']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/meeting'), 'bg-black': !isActive('/meeting')}">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-headphones"></i> Meeting
            </a>
          </div>
          <div [routerLink]="['/classes']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/classes'),'bg-black': !isActive('/classes') }">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-calendar"></i> Class
            </a>
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="authConfig.IsAdministrator">
        <span class="ms-4 mb-3 fs-5 letter-spacing"> Administrator </span>
        <div class="mt-2 ms-3 d-flex flex-column gap-1">
          <div [routerLink]="['/admin/view']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/admin/view'), 'bg-black': !isActive('/admin/view')}">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-user"></i> Student
            </a>
          </div>
          <div [routerLink]="['/admin/tutor']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/admin/tutor'), 'bg-black': !isActive('/admin/tutor')}">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-users"></i> Tutor
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>