<div class="py-4 text-center">
  <a href="/" class="link-hover rounded-2 py-2 px-3">
    <img src="../../../../assets/ilearn_logo_red_ready.png" width="50%" />  
  </a>
</div>
<div class="d-flex flex-column py-4">
  <div *ngIf="isSideBar" class="px-3 justify-content-around align-items-center d-flex">
    <hr class="w-25 text-light">
    <h2 class="mb-0 text-center fs-6 w-50 text-light"> Components </h2>
    <hr class="w-25 text-light">
  </div>
  <div class="d-flex gap-2 flex-column my-3 text-start mx-3 text-light">
    <div [routerLink]="['/dashboard']" class="d-flex align-items-center gap-3 py-3 cursor-pointer link-hover" [ngClass]="{'active-link': isActive('/dashboard'), 'bg-black': !isActive('/dashboard'), 'px-4 justify-content-center':!isSideBar, 'justify-content-start px-4':isSideBar }">
      <span class="e-icons e-grid-view fs-4"></span> 
      <a *ngIf="isSideBar"  class="letter-spacing fs-4 text-white" aria-current="page">Dashboard</a>
    </div>
    <div class="py-2">
      <div class="mb-3" *ngIf="authConfig.IsStudent">
        <span *ngIf="isSideBar" class="ms-4 fs-5 letter-spacing"> Students </span>
        <div class="mt-2 ms-3 d-flex flex-column gap-1">
          <div [routerLink]="['/student/tutor-selection']" class="d-flex align-items-center gap-3 cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link': isActive('/student/tutor-selection'), 'bg-black': !isActive('/student/tutor-selection')}">
            <span class="e-icons fs-5 e-people"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white"> View Tutor</a>
          </div>
          <!-- <div [routerLink]="['/classes']" class="cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/classes'), 'bg-black': !isActive('/classes') }">
            <a class="letter-spacing fs-6 text-white">
              <i class="pi pi-calendar"></i> Class
            </a>
          </div> -->
          <div [routerLink]="['/meeting']" class="d-flex align-items-center gap-3 cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/meeting'), 'bg-black': !isActive('/meeting')}">
            <span class="e-icons e-agenda-date-range"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white"> Meeting </a>
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="authConfig.IsTeacher">
        <span *ngIf="isSideBar" class="ms-4 mb-3 fs-5 letter-spacing"> Tutors </span>
        <div class="mt-2 d-flex flex-column" [ngClass]="{'ms-3 gap-1':isSideBar, 'ms-0 gap-2':!isSideBar}" >
          <div [routerLink]="['/tutor/availabilaity']" class="d-flex align-items-center gap-3 cursor-pointer link-hover" [ngClass]="{'active-link':isActive('/tutor/availabilaity'), 'bg-black':!isActive('/tutor/availabilaity'), 'py-2 px-4':isSideBar, 'py-3 justify-content-center': !isSideBar }">
            <span class="e-icons pt-1 e-clock"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white"> Availability</a>
          </div>
          <div [routerLink]="['/classes']" class="d-flex align-items-center gap-3 cursor-pointer link-hover" [ngClass]="{'active-link':isActive('/classes'),'bg-black': !isActive('/classes'), 'py-2 px-4':isSideBar, 'py-3 justify-content-center': !isSideBar }">
            <span class="e-icons e-bookmark"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white"> Class </a>
          </div>
          <div [routerLink]="['/tutor/requests']" class="d-flex align-items-center gap-3 cursor-pointer link-hover" [ngClass]="{'active-link':isActive('/tutor/requests'), 'bg-black': !isActive('/tutor/requests'), 'py-2 px-4':isSideBar, 'py-3 justify-content-center': !isSideBar}">
            <span class="e-icons e-expand"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white">Requests</a>
          </div>
          <div [routerLink]="['/tutor/class-metadata']" class="d-flex align-items-center gap-3 cursor-pointer link-hover" [ngClass]="{'active-link':isActive('/tutor/class-metadata'), 'bg-black': !isActive('/tutor/class-metadata'), 'py-2 px-4':isSideBar, 'py-3 justify-content-center': !isSideBar}">
            <span class="pt-1 e-icons e-level-4 fs-4"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white"> Class Metadata</a>
          </div>
          <div [routerLink]="['/meeting']" class="d-flex align-items-center gap-3 cursor-pointer link-hover" [ngClass]="{'active-link':isActive('/meeting'), 'bg-black': !isActive('/meeting'), 'py-2 px-4':isSideBar, 'py-3 justify-content-center': !isSideBar}">
            <span class="e-icons e-agenda-date-range"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white">Meeting</a>
          </div>          
        </div>
      </div>
      <div class="mb-3" *ngIf="authConfig.IsAdministrator">
        <span class="ms-4 mb-3 fs-5 letter-spacing"> Administrator </span>
        <div class="mt-2 ms-3 d-flex flex-column gap-1">
          <div [routerLink]="['/admin/view']" class="d-flex align-items-center gap-3 cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/admin/view'), 'bg-black': !isActive('/admin/view')}">
            <span class="e-icons e-people"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white">Student</a>
          </div>
          <div [routerLink]="['/admin/tutor']" class="d-flex align-items-center gap-3 cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/admin/tutor'), 'bg-black': !isActive('/admin/tutor')}">
            <span class="e-icons e-people"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white">Tutor</a>
          </div>
          <div [routerLink]="['/admin/subject']" class="d-flex align-items-center gap-3 cursor-pointer py-2 px-4 link-hover" [ngClass]="{'active-link':isActive('/admin/subject'), 'bg-black': !isActive('/admin/subject')}">
            <span class="e-icons e-people"></span>
            <a *ngIf="isSideBar" class="letter-spacing fs-6 text-white">Subject</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>