<div class="d-flex">
    <div *ngIf="tutor" class="col-md-7 row g-5 mx-3 my-2">
        <div class="d-flex bg-white py-3 mt-0 rounded-4 gap-2 position-relative">
            <div class="d-flex justify-content-center">
                <img style="object-fit:cover; width: 150px; height: 150px; border-radius: 50%; " 
                    [src]="tutor.ImgUrl ? tutor.ImgUrl : '../../../../assets/user-profile.png'" />
            </div>
            <div class="d-flex justify-content-start flex-column">
                <div class="py-1">
                    <h5 class="fs-4 fw-bold">{{tutor.Name}}</h5>
                    <div class="text-muted">{{tutor.Title}}</div>
                </div>
                <div class="d-flex flex-row gap-2 py-1">
                    <div class="py-2 px-2 border border-dull-white rounded-3">
                        <i class="text-success text-opacity-50 d-flex gap-2 fa fs-4 fa-solid fa-graduation-cap"><span class="text-black fs-5 fw-bold"> BSC </span></i>
                        <p class="m-0 mt-2 text-muted fw-semibold">Qualification</p>
                    </div>
                    <div class="py-2 ps-2 pe-4 border border-dull-white rounded-3">
                        <i class="e-icons e-bookmark-fill fs-4 text-danger text-opacity-50 d-flex gap-2"> <span class="text-black fs-5 fw-bold"> {{tutor.TutorSubjects.length}} </span></i>
                        <p class="m-0 mt-2 text-muted fw-semibold">Subject(s)</p>
                    </div>
                    <div class="py-2 ps-2 pe-4 border border-dull-white rounded-3">
                        <i class="e-icons e-arrow-up fs-5 text-success text-opacity-50 d-flex gap-2"> <span class="text-black fs-5 fw-bold"> {{ totalGrades }} </span> </i>
                        <p class="m-0 mt-2 text-muted fw-semibold"> Grades </p>
                    </div>
                </div>
                <div class=" mt-0 py-1 text-muted">
                    <p style="text-align: justify;" class="fw-semibold"> {{tutor.AboutMe}} </p>
                </div>
            </div>
            <div class="position-absolute consultancy-button mt-4">
                <button ejs-button (click)="getConsultancy()" class="px-4 py-1 e-danger rounded-2"> Consult </button>
            </div>
        </div>
        <div class="bg-white px-0 mt-2 rounded-4">
            <div class="py-3 mt-0 px-3 border-bottom border-1 border-dull-white">
                <h5>Subjects of {{tutor.Name}}</h5>
            </div>
            <div class="mt-0 py-3 px-3 text-muted">
                <p class="mb-2 text-muted">Below is the list of Subject with correspondence to the grade {{tutor.Hon}} {{tutor.Name}} teaches to</p>
                <div class="d-flex flex-column gap-2">
                    <div *ngFor="let subject of tutor.TutorSubjects" class="d-flex flex-row justify-content-between">
                        <div class="col-md-6 fw-semibold">{{subject.SubjectName}}</div>
                        <div class="d-flex col-md-6 justify-content-start gap-3">
                            <span class="bg-secondary rounded-circle grade-encircle py-1" *ngFor="let grade of subject.Grades">{{ grade.GradeLevel }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white px-0 mt-2 rounded-4">
            <div class="py-3 mt-0 px-3 border-bottom border-1 border-dull-white">
                <h5 class="fw-bold text-muted-dark">About {{tutor.Name}}</h5>
            </div>
            <div class=" mt-0 py-3 px-3 text-muted">
                <p class="fw-semibold"> {{tutor.AboutMe}} </p>
            </div>
        </div>
        <div class="bg-white px-0 mt-2 rounded-4">
            <div class="py-3 mt-0 px-3 border-bottom border-1 border-dull-white">
                <h5 class="fw-bold text-muted-dark"> Qualification of {{tutor.Name}}</h5>
            </div>
            <div id="Qualification" class="mt-0 mx-3 py-3 px-3 text-muted" [innerHTML]="tutor.Qualifications"  ></div>
        </div>
        <div class="bg-white px-0 mt-2 rounded-4">
            <div class="py-3 mt-0 px-3 border-bottom border-1 border-dull-white">
                <h5 class="fw-bold text-muted-dark">Certification of {{tutor.Name}}</h5>
            </div>
            <div id="Certification" class="mt-0 mx-3 py-3 px-3 text-muted" [innerHTML]="tutor.Certification" ></div>
        </div>
        <div class="bg-white px-0 mt-2 rounded-4">
            <div class="py-3 mt-0 px-3 border-bottom border-1 border-dull-white">
                <h5 class="fw-bold text-muted-dark">Work History of {{tutor.Name}}</h5>
            </div>
            <div id="WorkHistory" class="mt-0 py-3 mx-3 px-3 text-muted" [innerHTML]="tutor.WorkHistory" ></div>
        </div>
    </div>
    <div *ngIf="tutor" class="right-side-col row g-5 my-2">
        <div class="my-0 mx-3 px-0 col-md-12">
            <div id="tutorDetail-right-side" class="position-fixed inner-right-col bg-white py-2 rounded-4">
                <div class="my-2 px-3 border-bottom border-1">
                    <h5 class="text-muted">Group Classes offered by {{tutor.Name}}</h5>
                </div>
                <div class="d-flex py-4 px-4 grouping-container flex-column gap-3">
                    <div *ngFor="let event of events; let i = index;" class="mb-2 position-relative group-hover col-md-12 d-flex justify-content-between align-items-center bg-transparent border border-1 border-dull white rounded-2" >
                        <div class="mx-3 col-md-9 py-2">
                            <ejs-tooltip content="Number of student enrolled in this class" class="number-of-Student-enrolled d-flex align-items-center justify-content-center text-white text-center fw-bold"> 
                                <div style="font-size: 10px;" class="">
                                    {{event[0]?.ApprovedStudentCount}} enrolled
                                </div> 
                            </ejs-tooltip>
                            <div class="d-flex">
                                <span class="event-title-width text-muted-dark fw-bold">Event Title</span>
                                <h6 class="mb-0  text-muted-dark fw-semibold"> : {{event[0]?.Name}}</h6>
                            </div>
                            <div class="d-flex">
                                <span class="event-title-width text-muted-dark fw-bold">Start Time</span>
                                <p class="mb-0 text-muted fw-semibold"> : {{event[0]?.EventStartTime | date: 'yyyy/MM/dd hh:mm'}}</p>
                            </div>
                            <div class="d-flex">
                                <span class="event-title-width text-muted-dark fw-bold">Duration</span>
                                <p class="mb-0 text-muted fw-semibold"> : {{event[0]?.Duration}} mins </p>
                            </div>
                            <div  class="d-flex">
                                <span class="event-title-width text-muted-dark fw-bold">Repetition</span>
                                <p *ngIf="(event[0]?.ClassCount === 0 || event[0]?.ClassDay || event[0]?.ClassRepeat) && event[1]?.EventStartTime; else noRepetition"   class="mb-0 text-muted fw-semibold">
                                   : Total {{event[0]?.ClassCount }} {{event[0]?.ClassCount > 1 ? 'classes' : 'class'}} next on {{event[1]?.EventStartTime | date:"yyyy/MM/dd"}}
                                </p>
                                <ng-template #noRepetition>
                                    <p class="mb-0 text-muted fw-semibold">: No upcoming classes</p>
                                </ng-template>
                                
                            </div>
                        </div>
                        <div class="event-button-width">
                            <button ejs-button [disabled]="event[0]?.IsEnrolled || indexes.includes(i)" (click)="enRollClass(event[0], i)" class="e-danger px-3 rounded-2 py-1"> Enroll </button>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>

<ejs-dialog *ngIf="tutor" [footerTemplate]="consultancyFooter" [isModal]="true" [visible]="consultDialog" [width]="500" [showCloseIcon]="true" [isModal]="true" (close)="closeDialogForConsult()">
    <ng-template #header>
        <h5 class="text-muted-dark mb-0 fw-bold">Consult with {{tutor.Name}}</h5>
    </ng-template>
    <div class="py-2">
        <p class="text-muted px-2 fw-semibold">Tutor is available for a consultation session. Please choose the time frame below and send them the request</p>
        <div class="d-flex justify-content-between flex-wrap">
           <!-- <div class="form-group consult-timeframe-width"> -->
            <!-- <label class="form-label"> select Date </label>  -->
            <ejs-datepicker
                    #datepicker
                    (renderDayCell)="renderDayCell($event)"
                    (navigated)="onNavigated($event)"
                    (change)="setConsultancyDate($event)"
                    placeholder="Select a date"
                    class="col-md-12"
            ></ejs-datepicker>
            <!-- </div> -->
            <div class="form-group consult-timeframe-width">
                <label class="form-label">Select Time Frame</label>
                <select [disabled]="enableTimeFrame" (change)="setConsultancyMeetingTime($event)" class="form-select form-control form-select-sm">
                    <option value="-1" [selected]="generalConsultancy.MeetingStartTime == undefined" disabled> Select Time frame </option>
                    <option *ngFor="let time of consultancyTimeFrames" [value]="time.value" [disabled]="time.label.includes('Booked')"> {{time.label}} </option>
                </select>
            </div>
            <div class="form-group consult-timeframe-width">
                <label class="form-label">Select Duration</label>
                <select [disabled]="isDurationDisabled" (change)="setConsultancyDuration($event)" [(ngModel)]="selectedDuration" class="form-select form-control form-select-sm">
                    <option *ngFor="let duration of consultancyDuration" [disabled]="duration.disabled" [value]="duration.value">{{duration.label}}</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label class="form-label">Description </label>
                <textarea class="form-control" style="height: 90px; resize: none;" [(ngModel)]="generalConsultancy.Comment"></textarea>
            </div>
        </div>
    </div>
    <ng-template #consultancyFooter>
        <div class="py-2">
            <button [disabled]="!generalConsultancy.EventStartTime || !generalConsultancy.Duration" (click)="enrollInGeneralConsultancy()" ejs-button class="e-danger px-5 py-2 rounded-2"> Enroll </button>
        </div>
    </ng-template>
</ejs-dialog>

<!--       
<select name="availability" class="form-select" (change)="generateTimeOptions(selectedEvent.AvailabilityId)" [(ngModel)]="selectedEvent.AvailabilityId">
    <option selected value="-1" disabled>Select Availability</option>
    <ng-container *ngFor="let dayGroup of groupedAvailabilities">
        <optgroup class="text-muted" [label]="getDayLabel(dayGroup.key)">
            <ng-container *ngFor="let availability of dayGroup.value">
                <option [selected]="selectedEvent.AvailabilityId === availability.Id" class="text-start" [value]="availability.Id" [disabled]="disabledTimeOptions.includes(timeOptions)">
                    {{ formatTimeTo12Hours(availability.OpenTimeHours, availability.OpenTimeMinutes) }} - {{ formatTimeTo12Hours(availability.CloseTimeHours, availability.CloseTimeMinutes) }}
                </option>
            </ng-container>
        </optgroup>
    </ng-container>
</select> -->