
.remove-btn {
    border: none;
    background-color: red;
    position: absolute;
    top: -4px;
    right: -4px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    border-radius: 50%;

}

.right-col-width {
    width: 40%;
    flex:0 0 auto;
}
.left-col-width {
    width: 58%;
    flex: 0 0 auto;
}

.input-part-width {
    width: 48%;
    flex: 0 0 auto;
}

.handle-meeting-scroll{
    max-height: 100%;
    height: 500px;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 white;
    overflow-y: scroll;
}

.e-dlg-header-content{
    border-bottom: 2px solid #f1f1f2;
}

.e-dlg-content{
    border-bottom: 2px solid #f1f1f2;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 white;
}

.image-btn {
    width: 150px;
    background-color: #0378d5;
    height: 30px;
}

.text-hover:hover {
    color: #0378d5 !important;
    transition: all .3s linear;
}

.emblem-color {
    color: #bababa;
}   

.e-rte-hidden{
    width: 100%!important;
    display: none;
}



.e-content {
    height: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#richtexteditor_1124026703_0rte-view{
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid !important;
    border-color:#f1f1f2!important;
    border-bottom-left-radius: 6px!important;
    border-bottom-right-radius: 6px!important;
    height: 250px;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 white;
    overflow-y: scroll;
}

#richtexteditor_1124026703_1rte-view{
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid !important;
    border-color:#f1f1f2!important;
    border-bottom-left-radius: 6px!important;
    border-bottom-right-radius: 6px!important;
    height: 250px;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 white;
    overflow-y: scroll;
}

#rteToolrte-view {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid !important;
    border-color:#f1f1f2!important;
    border-bottom-left-radius: 6px!important;
    border-bottom-right-radius: 6px!important;
    height: 370px;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 white;
    overflow-y: scroll;
}
::ng-deep .e-rte-content ul,
::ng-deep .e-rte-content ol {
    margin-left: 20px!important;
}
