<div class="row g-5 mx-3 mt-3 mb-1 bg-white rounded-3">
    <div class="my-2 d-flex align-items-center justify-content-between mx-2">
        <h5 class="fw-bold m-0">User Profile</h5>
        <button (click)="updateUserData()" ejs-button class="e-danger fs-6 mb-2 py-2 rounded-3">Update Profile</button>
    </div>
</div>
<div *ngIf="user" class="row gap-3 g-5 mx-3 my-1">
    <div class="my-2 left-col-width d-flex flex-column gap-3 px-0">
        <div class="d-flex flex-column bg-white rounded-3">    
            <div class="d-flex flex-column gap-3 align-items-center px-3 py-3 border-bottom border-dull-white">
                <div class="position-relative">
                    <img  style="width: 100px; height: 100px; object-fit: cover; border-radius: 6px;" [src]="user.ImgUrl ? user.ImgUrl : '../../../../../../assets/user-profile.png'"/>
                    <button *ngIf="user.ImgUrl !== null" (click)="removeImg()" class="remove-btn">
                        <span class="position-relative fs-6 text-white" style="top: -2.5px; right: 0px;"> x </span>
                    </button>
                </div>
                <label for="ImageInput" *ngIf="user.ImgUrl === null" class="z-2 cursor-pointer rounded-3 text-white gap-2 image-btn d-flex justify-content-center align-items-center">
                    <span class="cursor-pointer e-icons e-plus"></span>
                    <label class="cursor-pointer fw-bold w-full"  >Image</label>
                    <input (change)="onImageSelected($event)" id="ImageInput" type="file" accept="Image/*" hidden />
                </label>
            </div>
            <div class="my-3">
                <div class="border-bottom border-dull-white d-flex justify-content-between align-items-center gap-3">
                    <h5 *ngIf="isTeacher" class="px-3 fw-bolder text-muted-dark mb-3"> Personal Information  </h5>
                    <h5 *ngIf="isStudent" class="px-3 fw-bolder text-muted-dark mb-2"> <a class="cursor-pointer" [ngClass]="{'text-primary': StudentInfo, 'text-hover': !StudentInfo }" (click)="StudentInfo = true" >Personal</a> | <a [ngClass]="{'text-primary': !StudentInfo, 'text-hover':StudentInfo }" (click)="StudentInfo = false" class="cursor-pointer">Parental</a> Information </h5>
                </div>
                <div class="d-flex flex-row flex-wrap justify-content-between gap-3 fw-bold mt-2 px-3">
                    <div *ngIf="isTeacher" class="text-start text-muted d-flex flex-column input-part-width">
                        <p class="col-md-12" >Hon,(Mr,Ms, Sir)</p>
                        <input class="form-control" [(ngModel)]="user.Hon" />
                    </div>
                    <div class="text-start text-muted d-flex flex-column input-part-width">
                        <p class="col-md-12" >Name</p>
                        <input class="form-control" [(ngModel)]="user.Name" />
                    </div>
                    <div *ngIf="isStudent && StudentInfo" class="text-start text-muted d-flex flex-column input-part-width">
                        <p class="col-md-12" >School Grade</p>
                        <input class="form-control" [(ngModel)]="user.SchoolGrade" />
                    </div>
                    <div class="text-start text-muted d-flex col-md-12 flex-column">
                        <p class="col-md-12" >Email</p>
                        <input class="form-control" [(ngModel)]="user.Email" />
                    </div>
                    <div *ngIf="isTeacher" class="text-start text-muted d-flex input-part-width flex-column">
                        <p class="col-md-12" >Degree</p>
                        <input class="form-control" [(ngModel)]="user.Degree" />
                    </div>
                    <div *ngIf="isTeacher" class="text-start text-muted d-flex input-part-width flex-column">
                        <p class="col-md-12" >One line Title</p>
                        <input class="form-control" [(ngModel)]="user.Title" />
                    </div>
                    <div class="text-start text-muted d-flex col-md-12 flex-column">
                        <p class="col-md-12" > Address</p>
                        <input class="form-control" [(ngModel)]="user.Address" />
                    </div>
                    <div class="text-start text-muted d-flex flex-column input-part-width">
                        <p class="col-md-12" >Phone Number </p>
                        <input class="form-control" [(ngModel)]="user.PhoneNumber" />
                    </div>
                    <div class="text-start text-muted d-flex flex-column input-part-width" >
                        <p class="col-md-12" >Country</p>
                        <input class="form-control" [(ngModel)]="user.Country" />
                    </div>
                    <div class="text-start text-muted d-flex flex-column input-part-width">
                        <p class="col-md-12" >City</p>
                        <input class="form-control" [(ngModel)]="user.City" />
                    </div>
                    <div class="text-start text-muted d-flex flex-column input-part-width">
                        <p class="col-md-12" > Postal Code</p>
                        <input class="form-control" [(ngModel)]="user.PostCode" />
                    </div>  
                    <div class="text-start text-muted d-flex flex-column col-md-12">
                        <p class="col-md-12" >About Me</p>
                        <textarea style="height: 90px; resize: none;" class="form-control" [(ngModel)]="user.AboutMe"></textarea>
                    </div>
                    <div class="d-flex flex-column col-md-12">
                        <div class="text-start text-muted d-flex flex-row justify-content-between mb-3 col-md-12">
                            <p class="col-md-6">Your Subjects</p>
                            <button (click)="AddSubjectDialogue('AddSubject')" ejs-button class="e-danger col-md-2 rounded-2"> Add Subject </button>
                        </div>                       
                        <div class="d-flex flex-row flex-wrap justify-content-between">
                            <div *ngFor="let subject of TutorSubjectAndGrades; let i = index" class="position-relative mb-3 d-flex flex-column border rounded-2 col-width-sub">
                                <div class="px-2 py-2  d-flex flex-row justify-content-between align-items-center border-bottom">
                                    <p class="text-start form-label mb-0 custom-fs col-md-6"> Subject {{i + 1}} </p>
                                    <span class="col-md-6 mt-1 text-end"><span (click)="AddSubjectDialogue('EditSubject', subject, i)" class="cursor-pointer bg-danger rounded-2 e-icons e-edit py-2 text-white px-2 rounded-3"></span></span>
                                </div>
                                <div class="px-2 pt-2 d-flex flex-row justify-content-between">
                                    <p class="text-start form-label mb-0 custom-fs col-md-4">core Subject </p>
                                    <p class="text-start text-muted-dark custom-fs form-label mb-0 fw-semibold col-md-8">{{subject.CoreSubject.Name}}</p>
                                </div>
                                <div class="px-2 d-flex flex-row justify-content-between">
                                    <p class="text-start form-label custom-fs mb-0 col-md-4">Subject</p>
                                    <p class="text-start form-label custom-fs text-muted-dark mb-0 fw-semibold col-md-8">{{subject.SubSubject.label}}</p>
                                </div>
                                <div class="px-2 pb-2 d-flex flex-row justify-content-between">
                                    <p class="text-start form-label mb-0 custom-fs col-md-4">Grades</p>
                                    <p class="text-start text-muted-dark mb-0 col-md-8 d-flex align-items-center gap-2"><span class="mx-0 fw-semibold form-label custom-fs" *ngFor="let grade of subject.Grades"> {{grade}} </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isTeacher" class="d-flex flex-column bg-white pt-2 rounded-3">
            <div class="border-bottom border-dull-white d-flex justify-content-between py-2 align-items-center gap-3">
                <h5 class="px-3 fw-bolder text-muted-dark mb-3">Qualifications</h5>
            </div>
            <div class="col-md-12">
                <ejs-richtexteditor [toolbarSettings]="tools" [quickToolbarSettings]="quickTools" [(ngModel)]="user.Qualifications" ></ejs-richtexteditor>
            </div>
        </div>
        <div *ngIf="isTeacher" class="d-flex flex-column bg-white pt-2 rounded-3">
            <div class="border-bottom border-dull-white d-flex justify-content-between py-2 align-items-center gap-3">
                <h5 class="px-3 fw-bolder text-muted-dark mb-3">Work History</h5>
            </div>
            <div class="col-md-12">
                <ejs-richtexteditor [toolbarSettings]="tools" [quickToolbarSettings]="quickTools" [(ngModel)]="user.WorkHistory" ></ejs-richtexteditor>
            </div>
        </div>
    </div>
    <div class="right-col-width d-flex flex-column gap-3 px-0 my-2">
        <div class="bg-white px-0 py-2 bg-white rounded-3">
            <div class="d-flex align-items-center justify-content-between py-3 px-3">
                <div class="col-md-10">
                    <h5 class="fw-bolder text-muted-dark mb-0">Your Average Rating</h5>
                    <p class="mb-0 text-muted fw-semibold">Open reviews to see what student says about you!</p>
                </div>
                <ng-container *ngIf="user.Reviews > 0">
                    <div (click)="showReviews()" class="cursor-pointer col-md-2 d-flex flex-column me-3">
                        <div class="d-flex gap-1 justify-content-start align-items-center flex-row">
                            <i class="fa fa-solid fa-star fs-4"></i>
                            <p class="mb-0 fs-5 text-black fw-bolder"> {{user.AverageRating}} </p>
                        </div>
                        <p class="mb-0 text-start fw-light">{{user.Reviews}} reviews</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="user.Reviews <= 0" >
                    <div class="col-md-2 d-flex flex-column me-3">
                        <div class="d-flex gap-1 justify-content-start align-items-center flex-row">
                            <p class="mb-0 text-muted-dark fw-bolder"> New </p>
                        </div>
                        <p class="mb-0 text-muted fw-semibold"> Tutor</p>
                    </div>
                </ng-container>

            </div>
        </div>
        <div class="bg-white px-0 py-2 bg-white rounded-3">
            <div class="border-bottom border-dull-white d-flex py-2 align-items-center gap-3">
                <h5 class="px-3 fw-bolder text-muted-dark mb-3"> Change Password </h5>
            </div>
            <div class="px-3 d-flex gap-4 flex-column">
                <div class="form-group">
                    <label class="form-label col-form-label-lg">Current Password</label>
                    <input placeholder="Enter Current Password"  type="password" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="form-label col-form-label-lg">New Password</label>
                    <input placeholder="Enter New Password" type="password" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="form-label col-form-label-lg">Re-Enter Password</label>
                    <input placeholder="Re Enter New Password" type="password" class="form-control"/>
                </div>
                <div>
                    <button ejs-button class="e-danger fs-6 w-100 mb-2 py-2 rounded-3">Change Password</button>
                </div>
            </div>
        </div>
        <div *ngIf="isTeacher" class="bg-white px-0 pt-2 bg-white rounded-3">
            <div class="border-bottom border-dull-white d-flex py-2 gap-3">
                <h5 class="px-3 fw-bolder text-muted-dark mb-3"> Certification </h5>
            </div>
            <div class="col-md-12">
                <ejs-richtexteditor id='rteTool' [toolbarSettings]="tools" [quickToolbarSettings]="quickTools" [(ngModel)]="user.Certification" [(ngModel)]="user.Certification"></ejs-richtexteditor>
            </div>
        </div>
        <div class="bg-white px-0 py-2 bg-white rounded-3" >
            <div class="border-bottom border-dull-white d-flex py-2 gap-3">
                <h5 class="px-3 fw-bolder text-muted-dark mb-3"> Previously Held Meetings </h5>
            </div>
            <div class="px-3 d-flex gap-4 py-3 flex-column handle-meeting-scroll">
               <div class="d-flex flex-column" *ngFor="let meeting of meetings">
                    <div class="d-flex justify-content-between">
                        <p class="text-start  form-label mb-0 col-md-6">Title</p>
                        <p class="text-start text-muted-dark mb-0 fw-semibold col-md-6">{{meeting.Topic}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="text-start form-label mb-0 col-md-6">Start Time</p>
                        <p class="text-start text-muted-dark mb-0 fw-semibold col-md-6">{{meeting.StartTime | date: 'yyyy/MM/dd HH:mm' }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="text-start form-label mb-0 col-md-6">Meeting ID</p>
                        <p class="text-start text-muted-dark mb-0 fw-semibold col-md-6">{{meeting.MeetingId}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ejs-dialog cssClass="rounded-dialog" [visible]="toggleAddSubDialogue" [footerTemplate]="footer" [isModal]="true" [width]="500" [showCloseIcon]="true" (close)="CloseAddSubjectDialogue()">
    <ng-template #header>
        <p *ngIf="dialogType === 'AddSubject'" class="mb-0 fw-semibold">Add Subject </p>
        <p *ngIf="dialogType === 'EditSubject'" class="mb-0 fw-semibold">Edit Subject </p>
    </ng-template>
    <div class="d-flex my-2 flex-column col-md-12" >
        <div *ngIf="dialogType === 'AddSubject'" class="d-flex col-md-12 mb-2">
            <button ejs-button (click)="filterSubjects('Primary')" [ngClass]=" activeType === 'Primary' ? 'e-danger' : ''" class="w-100">Primary</button>
            <button *ngIf="dialogType === 'AddSubject'" ejs-button (click)="filterSubjects('Secondary')" [ngClass]="activeType === 'Secondary' ? 'e-danger' : ''" class="w-100">Secondary</button>
        </div>
        <div class="form-group">
            <label class="form-label">Core Subject</label>
            <ejs-dropdownlist *ngIf="dialogType === 'AddSubject'" [enabled]='subjectTypeSelection.length > 0' (change)="getSubSubjects($event)" [fields]="{text:'label', value:'value'}" [dataSource]="subjectTypeSelection" [placeholder]="'Select Core Subject'" ></ejs-dropdownlist>
            <ejs-dropdownlist *ngIf="dialogType === 'EditSubject'" [(value)]="selectedSubject.CoreSubject.Id" [enabled]='false' (change)="getSubSubjects($event)" [fields]="{text:'Name', value:'Id'}" [dataSource]="CoreSubjects" [placeholder]="'Select Core Subject'" ></ejs-dropdownlist>
        </div>
        <div class="form-group">
            <label class="form-label">Subject</label>
            <ejs-dropdownlist *ngIf="dialogType === 'AddSubject'" (change)="selectSubSubject($event)" [enabled]="subSubjects.length > 0" [dataSource]="subSubjects" [fields]="{text:'label', value:'value'}" [placeholder]="'Select Subject'" ></ejs-dropdownlist>
            <ejs-dropdownlist *ngIf="dialogType === 'EditSubject'" [enabled]="subSubjectUpdation.length > 0" [(value)]="selectedSubject.SubSubject.value" (change)="updationOnSubject($event)" [dataSource]="subSubjectUpdation" [fields]="{text:'label', value:'value'}" [placeholder]="'Select Subject'" ></ejs-dropdownlist>
        </div>
        <div class="form-group">    
            <label class="form-label">Grades</label>
            <ejs-multiselect *ngIf="dialogType === 'AddSubject'" (change)="selectGrades($event)" [enabled]="grades.length > 0" [mode]="mode" [fields]="{text:'label', value:'value'}" [dataSource]="grades" [placeholder]="'Select Grade(s)'" ></ejs-multiselect>
            <ejs-multiselect *ngIf="dialogType === 'EditSubject'" [enabled]="filterGradesForUpdation.length > 0" (change)="updationOnGrades($event)" [(value)]="selectedSubject.Grades" [mode]="mode" [fields]="{text:'label', value:'value'}" [dataSource]="filterGradesForUpdation" [placeholder]="'Select Grade(s)'" ></ejs-multiselect>
        </div>
        <ng-template #footer>
            <div class="my-2">
                <button *ngIf="dialogType === 'AddSubject'" [disabled]="!AddSubject.SubjectId || selectedGrades.length <= 0" ejs-button class="ms-0 e-danger w-100 py-2 rounded-2" (click)="saveSubject()"> Save Subject </button>
                <button *ngIf="dialogType === 'EditSubject'"  ejs-button class="ms-0 e-danger w-100 py-2 rounded-2" (click)="updateSubject()" >Update Subject</button>
            </div>
        </ng-template>
    </div>
</ejs-dialog>
<app-show-reviews [ShowReviews]="toggleReviewBox" (ResetReviewBox)="closeReview($event)" [Reviews]="reviews" ></app-show-reviews>