<div class="container" *ngIf="availableTutor">
    <div class="col-md-12">
        <div class="d-flex">
            <div class="about-cont my-2 d-flex flex-column gap-4">
                <div class="ms-3 py-2 px-2 border border-2 rounded-3">
                    <div class="col-md-11 my-2 mx-auto">
                        <button class="btn-enroll bg-black text-white fs-5 fw-bolder" (click)="goBack()">Tutor Selection</button>
                    </div>
                    <div class="col-md-11 mx-auto border border-2 rounded-3">
                        <img class="w-100 rounded-4" style="height: 150px; object-fit:contain" [ngStyle]="{'background-color': availableTutor.ImgUrl ? 'white' : '#f4f4f4'}"  [src]="availableTutor.ImgUrl ? availableTutor.ImgUrl : '../../../../assets/user-profile.png'">
                    </div>
                    <div class="col-md-11 d-flex flex-column justify-content-center mx-auto my-2">
                        <h5 class="m-0 text-muted fw-bolder">{{availableTutor.Hon}} {{ availableTutor.FullName }}</h5>
                        <p class="m-0 my-2 description-color">Qualified in {{ availableTutor.Qualifications}} from some institute</p>
                    </div>
                </div>
                <div class="d-flex flex-column ms-3 py-3 px-2 border border-2 rounded-3">
                    <h5 class="text-start ps-2 fw-bolder text-muted">About {{availableTutor.Hon}} {{ availableTutor.FullName }}</h5>
                    <p class="ps-2 mb-3 description-color text-start ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ratione culpa eius quaerat porro reprehenderit fugit accusantium magni! Magnam corporis ab necessitatibus sint expedita. Eius magnam libero voluptatum tenetur? Exercitationem.</p>
                    <div class='d-flex flex-row flex-wrap ps-2 gap-3'>
                        <p *ngFor="let subject of availableTutor.TutorSubjects" ><span  class="custom-qualification-badge m-0" *ngIf="subject.SubjectName;">{{subject.SubjectName}}</span></p>
                    </div>
                </div>
                <div class="d-flex flex-column ms-3 py-4 px-2 border border-2 rounded-2">
                    <h5 class="text-muted text-start fw-bolder ps-2">Contact</h5>
                    <p class="m-0 mb-1 ps-2 description-color">Location</p>
                    <div class="ps-3 mb-2 d-inline-flex align-items-center gap-2">
                        <i class="pi pi-map-marker" style="font-size: 20px;" ></i>
                        <p class="m-0 fw-bold">{{availableTutor.Address + ", " + availableTutor.City + ", " +availableTutor.Country}}</p>
                    </div>
                    <p class="m-0 mb-2 ps-2 description-color">Email Address</p>
                    <div class="ps-3 mb-2 d-inline-flex align-items-center gap-2">
                        <i class="pi pi-envelope" style="font-size: 20px;"></i>
                        <p class="m-0 fw-bold"> {{availableTutor.Email}}</p>
                    </div>
                    <p class="m-0 mb-2 ps-2 description-color">Phone Number</p>
                    <div class="ps-3 mb-2 d-inline-flex align-items-center gap-2">
                        <i class="pi pi-phone" style="font-size: 20px;"></i>
                        <p class="m-0 fw-bold"> {{availableTutor.PhoneNumber}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 my-2 d-flex flex-column gap-3">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="row col-md-12 justify-content-between">
                            <div class="w-50">
                                <h4 class="text-muted fw-bold">Availability</h4>
                            </div>
                            <div class="w-50 d-flex col-md-12 ">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="pi pi-search"></i>
                                    </span>
                                    <input
                                        pInputText
                                        type="text" 
                                        (input)="onInputFilterAvailabilities($event)"
                                        placeholder="Search keyword"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <p-table
                        #dt1
                        dataKey="id"
                        [rows]="5"
                        [paginator]="tutorAvailabilities && tutorAvailabilities.length > 5"
                        [value]="tutorAvailabilities"
                        selectionMode="single"
                        [(selection)]="tutorAvailabilities"
                        [globalFilterFields]="['Day', 'OpenTimeHours', 'CloseTimeHours']"
                        styleClass="p-datatable-striped"
                    >
                        <ng-template pTemplate="header">
                            <tr class="p-0 text-center">
                                <th class="bg-white filter-hover" pSortableColumn="Day">Day<p-sortIcon field="Day"/></th>
                                <th class="bg-white filter-hover" pSortableColumn="OpenTimeHours">Open Time Hours <p-sortIcon field="OpenTimeHours" /></th>
                                <th class="bg-white filter-hover" pSortableColumn="CloseTimeHours"> Close Time Hours <p-sortIcon field="CloseTimeHours" /></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tutorAvailability>
                            <tr >
                                <td class="text-start">
                                    <p class="m-0 py-2">{{tutorAvailability.Day + (tutorAvailability.Day === 'Wed' ? "enesday" : tutorAvailability.Day === 'Thu' ?  "rsday" : tutorAvailability.Day === 'Tue' ? "sday"  : tutorAvailability.Day === 'Sat' ? 'urday' : "day"  ) }}</p>
                                </td>
                                <td class="text-center">
                                    <p class="m-0 py-2">{{tutorAvailability.OpenTimeHours}}:{{tutorAvailability.OpenTimeMinutes < 10 ? '0' + tutorAvailability.OpenTimeMinutes : tutorAvailability.OpenTimeMinutes}} </p>
                                </td>
                                <td class="text-center">
                                    <p class="m-0 py-2">{{tutorAvailability.CloseTimeHours}}:{{tutorAvailability.CloseTimeMinutes < 10 ? '0' + tutorAvailability.CloseTimeMinutes : tutorAvailability.CloseTimeMinutes}} </p>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="row col-md-12 justify-content-between">
                            <div class="w-50">
                                <h4 class="text-muted fw-bold">Events</h4>
                            </div>
                            <div class="w-50 d-flex col-md-12 ">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="pi pi-search"></i>
                                    </span>
                                    <input
                                        pInputText
                                        type="text" 
                                        (input)="onInputFilterEvent($event)"
                                        placeholder="Search keyword"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <p-table
                    #dt2
                    dataKey="id"
                    [rows]="5"
                    [paginator]="filteredEvents && filteredEvents.length > 5"
                    [value]="filteredEvents"
                    selectionMode="single"
                    [(selection)]="tutorAvailabilities"
                    [globalFilterFields]="['Name', 'Subject', 'Duration', 'EventStartTime']"
                    styleClass="p-datatable-striped"
                >
                    <ng-template pTemplate="">
                        <div class="row justify-content-end">
                            <div class="d-flex col-md-6 ">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="pi pi-search"></i>
                                    </span>
                                    <input
                                        pInputText
                                        type="text" 
                                        placeholder="Search keyword"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="p-0 text-center">
                            <th class="bg-white filter-hover" pSortableColumn="FullName">Name<p-sortIcon field="Name"/></th>
                            <th class="bg-white filter-hover" pSortableColumn="Qualification">Subject <p-sortIcon field="SubjectId"/></th>
                            <th class="bg-white filter-hover" pSortableColumn="Subjects">Duration <p-sortIcon field="Duration" /></th>
                            <th class="bg-white filter-hover" pSortableColumn="Subjects">Start Time <p-sortIcon field="EventStartTime"/></th>
                            <th class="bg-white filter-hover">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-event>
                        <tr>
                            <td class="text-center">
                                <p class="m-0 py-2">{{event.Name}}</p>
                            </td>   
                            <td class="text-center">
                                <p class="m-0 py-2">{{getEventSubject(event.SubjectId)}}</p>
                            </td>
                            <td class="text-center">
                                <p class="m-0 py-2"> {{event.Duration}} </p>
                            </td>
                            <td class="text-center">
                                <p class="m-0 py-2">{{event.EventStartTime | date: 'yyyy/MM/dd HH:mm a'}}</p>
                            </td>
                            <td class="text-center">
                                <p class="m-0 py-2 description-color fw-semibold" (click)="enRollClass(event)"><button class="px-3 py-1 bg-black rounded-3 text-white">Enroll</button></p>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                </p-panel>
            </div>
        </div>
    </div>
</div>
