.student-container {
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-col-width {
    width: 32.333333%;
    flex:0 0 auto;
}



.remove-btn {
    border: none;
    background-color: red;
    position: absolute;
    top: -4px;
    right: -4px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    border-radius: 50%;

}


.handle-meeting-scroll{
    max-height: 100%;
    height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 white;
    overflow-y: scroll;
}

.e-dlg-header-content{
    border-bottom: 2px solid #f1f1f2;
}

.e-dlg-content{
    border-bottom: 2px solid #f1f1f2;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 white;
}

.image-btn {
    width: 150px;
    background-color: #0378d5;
    height: 30px;
}

.stepper-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}