<div class="row g-5 mx-3 my-2 bg-white rounded-3">
    <h5 class="m-0 my-4">Tutor Registration</h5>
</div>
<div class="row align-items-center g-5 mx-3 my-2 bg-white rounded-3 ">
    <div class=" stepper-container mx-auto my-3" >
      <ejs-stepper (stepChanged)="stepChanged($event)">
        <e-steps>
            <e-step label="Personal Detail"></e-step>
            <e-step [disabled]="!tutor.FullName || !tutor.Email || !tutor.PhoneNumber || !tutor.Address || !tutor.Qualifications || selectedSubjects.length < 1" label="Policy Check"></e-step>
        </e-steps>
      </ejs-stepper>
    </div>
</div>
<div *ngIf="activeIndex === 0" class="row justify-content-between align-items-start g-5 mx-3 my-2">
    <div class="col-md-8 py-3 mt-0 px-0 bg-white rounded-3">
        <div class="d-flex px-3 border-bottom border-dull-white justify-content-between col-md-12">
            <h5 class="mb-0 fw-bold">Registration Form</h5>
            <button ejs-button *ngIf="activeIndex !== stepValues.length - 1" type="button" class="e-info mb-3 px-4 py-2 rounded-3" [disabled]="!tutor.Email || !tutor.FullName || !tutor.Address || !tutor.PhoneNumber || !tutor.Qualifications || selectedSubjects.length < 1 " (click)="next()">Next</button>
        </div>
        <form *ngIf="activeIndex === 0" class="row mx-3 my-2 g-3">
            <div class="col-md-3">
                <label for="Hon" class="form-label">Hon (e.g. Mr, Ms)</label>
                <input type="text" class="form-control" id="Hon" [(ngModel)]="tutor.Hon" name="Hon">
            </div>
            <div class="col-md-9">
                <label for="FullName" class="form-label">Full Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="FullName" [(ngModel)]="tutor.FullName" name="FullName">
            </div>
            <div class="col-md-12">
                <label for="Email" class="form-label">Email <span class="text-danger">*</span> </label>
                <input type="text" class="form-control" id="Email" [(ngModel)]="tutor.Email" name="TutorEmail">
            </div>
            <div class="col-md-6">
                <label for="Phone" class="form-label">Phone <span class="text-danger">*</span> </label>
                <input type="text" class="form-control" id="Phone" [(ngModel)]="tutor.PhoneNumber" name="TutorPhone">
            </div>
            <div class="col-md-6">
                <label for="Qualifications" class="form-label">Degree <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="Qualifications" [(ngModel)]="tutor.Degree" name="Qualifications">
            </div>
            <div class="col-8">
                <label for="Address" class="form-label">Address <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="Address" [(ngModel)]="tutor.Address" name="TutorAddress">
            </div>
            <div class="col-md-4">
                <label for="City" class="form-label">City</label>
                <input type="text" class="form-control" id="City" name="parentCity" [(ngModel)]="tutor.City">
            </div>
            <div class="col-md-4">
                <label for="State" class="form-label">State</label>
                <input type="text" class="form-control" id="State" [(ngModel)]="tutor.State" name="TutorState">
            </div>
            <div class="col-md-2">
                <label for="PostalCode" class="form-label">Postal Code</label>
                <input type="text" class="form-control" id="PostalCode" [(ngModel)]="tutor.PostCode" name="TutorPostalCode">
            </div>
            <div class="col-md-6">
                <label for="Country" class="form-label">Country</label>
                <input type="text" class="form-control" id="Country" [(ngModel)]="tutor.Country" name="TutorCountry">
            </div>
            <div class="d-flex align-items-start flex-column gap-2 col-md-6">
                <label class="form-label mx-0"> Tutor Profile Image </label>
                <img *ngIf="tutor.ImgUrl" [src]="tutor.ImgUrl" style="width: 100px; height: 100px;" />
                <label ejs-button class="e-info cursor-pointer image-btn d-flex text-white justify-content-center gap-2 align-items-center rounded-3" for="InputImage">
                    <span style="top: 1px" class="position-relative e-icons e-plus text-white "></span> 
                    Add Image
                </label>
                <input (change)="onImageSelected($event)" type="file" accept="Images/*" id="InputImage" hidden />
            </div>
        </form>
    </div>
    <div class="right-col-width mt-0 px-0 bg-white rounded-3">
        <div class="d-flex px-3 border-bottom border-dull-white justify-content-between col-md-12">
            <h5 class="fw-bold my-3">Select Subject</h5>
        </div>
        <form *ngIf="activeIndex === 0" class="col-md-12 my-2">
            <app-subject-selection (selectedSubjectsChange)="handleSelectedSubjectsChange($event)"></app-subject-selection>
            <!-- <div class="col-md-12">
                <button ejs-button *ngIf="activeIndex > 0" type="button"
                    label="Back" class="e-primary mx-3 mb-3 px-4 py-2 rounded-3" (click)="back()">Back</button>
                    <button ejs-button *ngIf="activeIndex === stepValues.length - 1" type="button"
                    label="Register" class="e-info mx-3 mb-3 px-4 py-2 rounded-3" (click)="register()">Register
                </button>
            </div> -->
        </form>
    </div>
</div>
<div *ngIf="activeIndex === 1" class="d-flex mx-3 my-2 bg-white rounded-3 ">
    <div class="col-md-12 my-2">
        <div class="d-flex px-3 align-items-center border-bottom border-dull-white justify-content-between col-md-12">
            <h5 class="mb-0 fw-bold">Terms And Conditions</h5>
            <button ejs-button type="button" class="e-info  px-4 my-2 py-2 rounded-3" (click)="back()">Back</button>
        </div>
        <div class="col-md-11 py-3 mx-auto">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet, sapien sit amet interdum ultrices, ipsum enim tincidunt ipsum, eget interdum nunc augue vel libero. Sed bibendum, odio ut ullamcorper placerat, ipsum nisi malesuada odio, quis malesuada nisi felis nec sapien. In hac habitasse platea dictumst.</p>
            <p>Vestibulum id odio nec nibh posuere lacinia. Integer consectetur tincidunt lorem, eu molestie magna tempor a. Nullam sed lacinia eros, vel suscipit nunc. Vivamus placerat pharetra nunc, id vestibulum ligula suscipit id. Sed fringilla risus at augue commodo, nec bibendum odio lobortis.</p>
            <div class="col-md-12 mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="agreeCheckbox" name="agreeCheckbox"[(ngModel)]="tutor.IsPoliceFormChecked" >
                  <label class="form-check-label" for="agreeCheckbox"> I agree to the Terms and Conditions </label>
                </div>
            </div>
            <div class="col-md-12">
                <button (click)="register()" ejs-button [disabled]="!tutor.IsPoliceFormChecked" class="e-info py-2 px-4 rounded-3">Register</button>
            </div>
        </div>
    </div>
</div>