<ejs-dialog [visible]="ShowReviews" [isModal]="true" [showCloseIcon]="true" [width]="500" (close)="closeDialog()">
    <ng-template #header>
        <p class="mb-0"> Tutor Reviews</p>
    </ng-template>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row gap-3">     
           <div  class=" col-md-12 d-flex gap-2 flex-column">
                <div  *ngFor="let review of Reviews; let i = index;" class="w-100 rounded-3 py-2 review-container"  >
                    <div class="d-flex align-items-start px-3 flex-column my-2">
                        <div class="d-flex col-md-12 flex-row align-items-center justify-content-between">
                            <input [disabled]="true" cssClass="custom"  ejs-rating [value]="review.Rating.toLocaleString()" class="text-white mb-2"/>   
                            <span class="w-100 pb-2 text-end text-transition"> {{ review.ReviewDate | date:  'yyyy/MM/dd HH:mm' }} </span>
                        </div>
                        <blockquote [id]="'blockquote' + i" class="ps-2 mb-3 text-transition"> {{review.Comment}}</blockquote>
                        <div class="d-flex align-items-center ps-2 gap-2">
                            <div
                                class="rounded-circle"
                                *ngIf="review.ImgUrl"
                                [ngStyle]="{'width': '40px', 'height': '40px','background':getImage(review.ImgUrl)}"
                            ></div>
                            <div
                                class="rounded-circle"
                                *ngIf="!review.ImgUrl"
                                style="width: 40px; height: 40px;background:#f1f1f1 url(../../../../assets/user-profile.png) no-repeat center/cover;"
                            ></div>
                            <div [id]="'userReview' + i" class="d-flex flex-column ">
                                <p class="mb-0 fw-bold text-muted-dark text-transition">{{review.Name}}</p>
                                <p class="mb-0 text-muted text-transition">Brilliant student from Pakistan</p>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</ejs-dialog>
