<div class="row g-5 mx-3 my-4 my-2">
    <div class="d-flex flex-column mt-0 px-0" *ngIf="groupRequests.length > 0">
        <div class="py-3 mb-1 bg-white rounded-3">
            <h2 class="d-inline-flex align-items-center gap-3 my-3 px-3 fw-bold text-dark d-block fs-4 ">Classes Requests  <span *ngIf="bookingRequests" class="fs-6 text-muted badge rounded-pill bg-secondary">{{groupRequests.length}}</span></h2>
        </div>
        <div class="py-2 mb-1 bg-white rounded-3">
            <p class="mb-0 px-3">The requests for group classes that you have either received or sent are shown below.</p>
        </div>
        <div class="bg-white rounded-3 py-3 mb-1">
            <div class="col-md-3 px-3 gap-3 d-flex justify-content-between align-items-center">
                <select (change)="filterStatus()"  [(ngModel)]="selectedStatus" class="col-md-9 cursor-pointer border-dull-white h-100 form-select btn-shadow form-select-solid form-select-lg bg-white text-center">
                    <option *ngFor="let status of Status" [ngValue]="status.value" [disabled]="status.value === -1" [selected]="status.value === -1" >{{status.label}}</option>
                </select>
                <button (click)="clearFilter()" class="col-md-3 filter-button-padding text-center btn border border-dull-white btn-shadow">Clear</button>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column px-0 mt-0">
        <div class="py-2 px-3 bg-white rounded-3 mb-1" *ngIf="groupRequests.length > 0">
            <div class=" my-2 d-flex flex-wrap gap-2">
                <ng-container *ngFor="let bookingRequest of groupRequests">
                    <div class="shadow-sm border border-1 py-2 prounded-3 custom-card-width rounded-2 position-relative">
                        <div class="d-flex">
                            <div class="d-flex me-2 justify-content-end">
                                <img class="rounded-circle" [src]="bookingRequest.StudentImgUrl ? bookingRequest.StudentImgUrl : '../../../assets/Ilearn-assets/user-profile.png'" style="width: 75px; height: 75px; object-fit: cover    ;" />
                            </div>
                            <div class="mb-2 d-flex flex-grow-1">
                                <div class="w-100 mb-2">
                                    <div class="m-0 d-flex flex-column">
                                        <h5 class="m-0 fw-bolder text-muted-dark">{{bookingRequest.StudentName}}</h5>
                                        <span class="fw-bold text-muted">{{bookingRequest.SubjectName ? bookingRequest.SubjectName : 'Not provided'}}</span>
                                    </div>
                                    <div *ngIf="authConfig.IsStudent" class="m-0 d-flex flex-row gap-2">
                                        <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Tutor</p>
                                        <span class="fs-6 mb-0 text-muted fw-semibold">: {{bookingRequest.TutorName}}</span>
                                    </div>
                                    <div class="m-0 d-flex flex-row gap-2">
                                        <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Topic</p>
                                        <span class="d-inline-flex gap-1 text-muted align-items-center">: <span [ngClass]="bookingRequest.SubjectTopic && bookingRequest.length < 15 ? 'fs-6' : 'd-flex align-items-center'" class="fw-semibold text-muted mb-0"> {{bookingRequest.SubjectTopic ? bookingRequest.SubjectTopic : 'Not Provided'}}</span></span>
                                    </div>
                                    <div class="m-0 d-flex flex-row gap-2">
                                        <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Duration</p>
                                        <span class="fs-6 mb-0 text-muted fw-semibold">: {{bookingRequest.Duration}} minutes</span>
                                    </div>
                                    <div class="m-0 d-flex flex-row gap-2">
                                        <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Timing</p>
                                        <p class="mb-0 text-muted fw-semibold">: {{bookingRequest.StartTime | date: 'dd/MMM/yyyy HH:mm' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-group" *ngIf="authConfig.IsTeacher && !bookingRequest.IsApproved && !bookingRequest.IsRejected">
                            <button ejs-button [ngClass]="{'reject-btn w-50': true}" (click)="rejectBookingRequest(bookingRequest.Id)" [disabled]="bookingRequest.IsApproved">Reject</button>
                            <button ejs-button [ngClass]="{'accept-btn w-50': true, 'opacity-50': bookingRequest.IsApproved}" [disabled]="bookingRequest.IsApproved" (click)="approveBookingRequest(bookingRequest.Id)">Accept</button>
                        </div>                      
                        <div *ngIf="bookingRequest" class="position-absolute badge-container">
                            <span class="reject" *ngIf="!bookingRequest.IsApproved && bookingRequest.IsRejected" >Reject</span>
                            <span class="approve" *ngIf="bookingRequest.IsApproved && !bookingRequest.IsRejected" >Approve</span>
                            <span class="pending" *ngIf="!bookingRequest.IsApproved && !bookingRequest.IsRejected" >Pending</span>
                        </div> 
                    </div>
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="consultancyRequests.length > 0">
            <div class="mb-1 rounded-3 bg-white py-2 px-3">
                <h2 class="d-inline-flex align-items-center gap-3 my-3 px-3 fw-bold text-dark d-block fs-4 ">Consultancy Requests  <span *ngIf="bookingRequests" class="fs-6 text-muted badge rounded-pill bg-secondary">{{consultancyRequests.length}}</span></h2>
            </div>
            <div class="py-2 mb-1 bg-white rounded-3">
                <p class="mb-0 px-3">The consultation requests that you have either received or sent are shown below.</p>
            </div>
            <div class="py-2 px-3 bg-white rounded-3">
                <div class=" my-2 d-flex flex-wrap gap-2">
                    <ng-container *ngFor="let bookingRequest of consultancyRequests">
                        <div class="shadow-sm border border-1 py-2 px-2 prounded-3 custom-card-width rounded-2 position-relative">
                            <div class="d-flex">
                                <div class="d-flex me-2 justify-content-end">
                                    <img class="rounded-circle" [src]="bookingRequest.StudentImgUrl ? bookingRequest.StudentImgUrl : '../../../assets/Ilearn-assets/user-profile.png'" style="width: 75px; height: 75px; object-fit: cover;" />
                                </div>
                                <div class="mb-2 d-flex flex-grow-1">
                                    <div class="w-100 mb-2">
                                        <div class="m-0 d-flex flex-column">
                                            <h5 class="m-0 fw-bolder text-muted-dark">{{bookingRequest.StudentName}}</h5>
                                            <span class="fw-bold text-muted">{{bookingRequest.SubjectName ? bookingRequest.SubjectName : 'not provided'}}</span>
                                        </div>
                                        <div *ngIf="authConfig.IsStudent" class="m-0 d-flex flex-row gap-2">
                                            <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Tutor</p>
                                            <span class="fs-6 mb-0 text-muted fw-semibold">: {{bookingRequest.TutorName}}</span>
                                        </div>
                                        <div class="m-0 d-flex flex-row gap-2">
                                            <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Topic</p>
                                            <span class="d-inline-flex gap-1 text-muted align-items-center fw-semibold">:<span [ngClass]="bookingRequest.SubjectTopic && bookingRequest.length < 15 ? 'fs-6' : 'd-flex align-items-center'" class="fw-semibold text-muted mb-0"> {{bookingRequest.SubjectTopic ? bookingRequest.SubjectTopic : 'Not Provided'}}</span></span>
                                        </div>
                                        <div class="m-0 d-flex flex-row gap-2">
                                            <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Duration</p>
                                            <span class="fs-6 mb-0 text-muted fw-semibold">: {{bookingRequest.Duration}} minutes</span>
                                        </div>
                                        <div class="m-0 d-flex flex-row gap-2">
                                            <p class="col-md-3 mb-0 px-0 text-muted-dark fw-semibold">Timing</p>
                                            <p class="mb-0 text-muted fw-semibold">: {{bookingRequest.StartTime | date: 'dd/MMM/yyyy HH:mm' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-group" *ngIf="authConfig.IsTeacher && !bookingRequest.IsApproved && !bookingRequest.IsRejected">
                                <button ejs-button [ngClass]="{'reject-btn w-50': true}" (click)="rejectBookingRequest(bookingRequest.Id)" [disabled]="bookingRequest.IsApproved">Reject</button>
                                <button ejs-button [ngClass]="{'accept-btn w-50': true, 'opacity-50': bookingRequest.IsApproved}" [disabled]="bookingRequest.IsApproved" (click)="approveBookingRequest(bookingRequest.Id)">Accept</button>
                            </div>
                            <div *ngIf="bookingRequest" class="position-absolute badge-container">
                                <span class="reject" *ngIf="!bookingRequest.IsApproved && bookingRequest.IsRejected" >Reject</span>
                                <span class="approve" *ngIf="bookingRequest.IsApproved && !bookingRequest.IsRejected" >Approve</span>
                                <span class="pending" *ngIf="!bookingRequest.IsApproved && !bookingRequest.IsRejected" >Pending</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>
